<div class="flex flex-col flex-auto h-full w-full">
    <div class="grid grid-cols-6 bg-card px-4 gap-4 pb-4 border-b space-y-2">
        <div class="col-span-3">
            <ng-container *ngIf="isFaceMatch">
                <div class="flex flex-row flex-wrap pt-4 gap-2">
                    <mat-form-field class="w-full smartr-mat-emphasized-affix" subscriptSizing="dynamic"
                        [floatLabel]="'always'">
                        <div class="text-secondary" matPrefix>
                            Start Date & Time
                        </div>
                        <input matInput [ngxMatDatetimePicker]="startDatePicker"
                            (click)="startDatePicker._selected=startDate;startDatePicker.open()" [(ngModel)]="startDate"
                            [placeholder]="'Start Date'" (ngModelChange)="faceSearch()" (keydown)="false"
                            autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="$any(startDatePicker)">
                        </mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #startDatePicker [showSeconds]="false"></ngx-mat-datetime-picker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-full smartr-mat-emphasized-affix"
                        subscriptSizing="dynamic" [floatLabel]="'always'">
                        <div class="text-secondary" matPrefix>
                            End Date & Time
                        </div>
                        <input matInput [ngxMatDatetimePicker]="endDatePicker"
                            (click)="endDatePicker._selected=endDate;endDatePicker.open()" [(ngModel)]="endDate"
                            [placeholder]="'End Date'" (ngModelChange)="faceSearch()" (keydown)="false"
                            autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="$any(endDatePicker)">
                        </mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #endDatePicker [showSeconds]="false"></ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
                <div *ngIf="oEntity" class="flex flex-row flex-auto gap-2 pt-2">
                    <mat-form-field class="flex-auto smartr-mat-emphasized-affix" subscriptSizing="dynamic">
                        <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                            <mat-icon svgIcon="mat_outline:layers"></mat-icon>
                        </div>
                        <mat-chip-grid #floorChipList>
                            <mat-chip *ngFor="let floor of oList_Selected_Floor" (removed)="removeFloorChoice(floor)">
                                {{floor.NAME}}
                                <button matChipRemove>
                                    <mat-icon class="icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:x-circle'">
                                    </mat-icon>
                                </button>
                            </mat-chip>
                            <input [placeholder]="'Add a Floor'" #addCategorySearch [(ngModel)]="floorSearchInput"
                                [matChipInputFor]="floorChipList" [matAutocomplete]="FloorAutoComplete">
                            <mat-autocomplete #FloorAutoComplete="matAutocomplete"
                                (optionSelected)="addFloorChoice($event.option.value); addCategorySearch.blur(); addCategorySearch.value=''">
                                <mat-option *ngFor="let option of filter_Floors()" [value]="option">
                                    <label>{{option.NAME}}</label>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-chip-grid>
                    </mat-form-field>
                    <mat-form-field class="flex-auto smartr-mat-emphasized-affix" subscriptSizing="dynamic">
                        <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                            <mat-icon svgIcon="mat_outline:space_dashboard"></mat-icon>
                        </div>
                        <mat-chip-grid #spaceChipList>
                            <mat-chip *ngFor="let space of oList_Selected_Space" (removed)="removeSpaceChoice(space)">
                                {{space.NAME}}
                                <button matChipRemove>
                                    <mat-icon class="icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:x-circle'">
                                    </mat-icon>
                                </button>
                            </mat-chip>
                            <input [placeholder]="'Add a Space'" #addCategorySearch [(ngModel)]="spaceSearchInput"
                                [matChipInputFor]="spaceChipList" [matAutocomplete]="SpaceAutoComplete">
                            <mat-autocomplete #SpaceAutoComplete="matAutocomplete"
                                (optionSelected)="addSpaceChoice($event.option.value); addCategorySearch.blur(); addCategorySearch.value=''">
                                <mat-option *ngFor="let option of filter_Spaces()" [value]="option">
                                    <label>{{option.NAME}}</label>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-chip-grid>
                    </mat-form-field>
                </div>
                <div class="flex flex-row pt-2">
                    <mat-form-field class="flex-auto smartr-mat-emphasized-prefix" subscriptSizing="dynamic">
                        <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                            <mat-icon *ngIf="!isSearching" svgIcon="heroicons_outline:video-camera"></mat-icon>
                            <mat-progress-spinner *ngIf="isSearching" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </div>
                        <mat-progress-spinner *ngIf="numberOfRequests.length>0" matSuffix [diameter]="24"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-chip-grid #chipList01>
                            <mat-chip *ngFor="let chosenCamera of oList_Selected_Video_ai_asset"
                                (removed)="removeCameraChoice(chosenCamera)">
                                {{chosenCamera.FRIENDLY_NAME}}
                                <button matChipRemove>
                                    <mat-icon class="icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:x-circle'">
                                    </mat-icon>
                                </button>
                            </mat-chip>
                            <input [placeholder]="'Add a Camera'" #addCategorySearch [(ngModel)]="cameraSearchInput"
                                [matChipInputFor]="chipList01" [matAutocomplete]="CameraAutoComplete">
                            <mat-autocomplete #CameraAutoComplete="matAutocomplete"
                                (optionSelected)="addCameraChoice($event.option.value); addCategorySearch.blur(); addCategorySearch.value=''">
                                <mat-option *ngFor="let option of filter_Cameras()" [value]="option">
                                    <label>{{option.FRIENDLY_NAME}}</label>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-chip-grid>
                    </mat-form-field>
                </div>
                <div class="flex flex-row pt-2">
                    <div class="flex-auto flex flex-col">
                        <mat-form-field class="flex-auto smartr-mat-emphasized-prefix" subscriptSizing="dynamic">
                            <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                                <span *ngIf="!isSearching">Similarity</span>
                                <mat-progress-spinner *ngIf="isSearching" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </div>
                            <div class="w-full h-full flex items-center justify-center text-secondary" matSuffix>
                                %
                            </div>
                            <input matInput type="number" placeholder="Similarity" [formControl]="recognitionScore">
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="!isFaceMatch" class="flex flex-col justify-between pt-4">
                <div class="flex items-center">
                    <div class="flex-auto flex flex-col">
                        <mat-form-field class="flex-auto smartr-mat-emphasized-prefix" subscriptSizing="dynamic">
                            <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                                <span *ngIf="!isSearching">Similarity</span>
                                <mat-progress-spinner *ngIf="isSearching" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </div>
                            <div class="w-full h-full flex items-center justify-center text-secondary" matSuffix>
                                %
                            </div>
                            <input matInput type="number" placeholder="Similarity" [formControl]="recognitionScore">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-2 flex flex-col flex-auto pt-2">
            <div class="flex flex-col flex-auto rounded-md overflow-hidden">
                <div class="flex flex-row pt-1 pl-3 pr-1 items-center gap-2 justify-between custom-border"
                    style="background-color:#F1F5F9; border-bottom: 0">
                    <div class="flex flex-row flex-auto gap-2 items-center">
                        <mat-icon [svgIcon]="'mat_outline:face'">
                        </mat-icon>
                        <div>
                            Upload Face Image
                        </div>
                    </div>
                    <button mat-icon-button matTooltip="Clear Image" class="cursor-pointer" (click)="removeImage()">
                        <mat-icon [svgIcon]="'mat_outline:layers_clear'">
                        </mat-icon>
                    </button>
                </div>
                <div class="flex flex-col flex-auto items-center justify-center rounded-b-md cursor-pointer custom-border"
                    (click)="uploadPictureDialog()" [ngClass]="{'py-3': !isFaceMatch}">
                    <button *ngIf="!oDetect_Face_Response">
                        <span class="fas fa-upload fa-2x text-gray-500"></span>
                    </button>
                    <img *ngIf="oDetect_Face_Response && oDetect_Face_Response.Path != ''" class="w-18 rounded-md"
                        [src]="Sanitize(oDetect_Face_Response.Path)">
                </div>
            </div>
        </div>
        <div class="col-span-1 pt-2 flex flex-col flex-auto">
            <div class="flex px-8 py-6 cursor-pointer custom-border rounded-md justify-center" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !isFaceMatch,
                                'button-color dark:bg-hover': isFaceMatch}" style="align-items: center;"
                (click)="isFaceMatch=true; faceSearch();">
                <div class="font-medium leading-6 text-center"
                    [ngClass]="{'text-primary dark:text-primary-500': isFaceMatch}">
                    Face Match
                </div>
            </div>
            <div class="flex px-8 py-6 cursor-pointer custom-border rounded-md mt-3 justify-center" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': isFaceMatch,
                                'button-color dark:bg-hover': !isFaceMatch}" style="align-items: center;"
                (click)="isFaceMatch=false; faceSearch();">
                <div class="font-medium leading-6 text-center"
                    [ngClass]="{'text-primary dark:text-primary-500': !isFaceMatch}">
                    Face List
                </div>
            </div>
            <div class="flex flex-row px-8 py-3 cursor-pointer custom-border rounded-md mt-3 justify-center hover:bg-gray-100 dark:hover:bg-hover"
                style="align-items: center;" (click)="faceSearch();">
                <mat-icon svgIcon="mat_outline:search"></mat-icon>
            </div>
        </div>
    </div>
    <div class="flex flex-auto">
        <div *ngIf="!isNoMatchesFound && faceSearchDataCount!=0" class="w-full" style="height: fit-content;">
            <div class="grid grid-cols-5 gap-2 w-full">
                <ng-container *ngIf="isFaceMatch">
                    <ng-container *ngFor="let face_key of List_Face_Key_Response">
                        <div class="relative flex image-container w-70" style="background-color: #f1f5f9;">
                            <img *ngIf="face_key.File" [src]="Sanitize(face_key.File)" (error)="face_key.File=null">
                            <div class="absolute bottom-0 w-full image-thumbnail">
                                <div>{{face_key.Datetime | date : 'longDate' :
                                    TimezoneService.oCurrent_Timezone_Offset}}</div>
                                <div class="float-end">{{face_key.Confidence * 100 | number: '1.0-0'}}%</div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="!isFaceMatch">
                    <ng-container *ngFor="let face_target_key of List_Search_Face_Target_Key_Response">
                        <div class="relative flex image-container cursor-pointer" style="background-color: #f1f5f9;">
                            <img *ngIf="face_target_key.FaceTargetKey.File"
                                [src]="Sanitize(face_target_key.FaceTargetKey.File)"
                                (error)="face_target_key.FaceTargetKey.File=null">
                            <div class="absolute bottom-0 w-full image-thumbnail">
                                <div>{{face_target_key.FaceTarget.Name}}</div>
                                <div class="float-end">{{face_target_key.FaceTargetKey.Similarity * 100 | number:
                                    '1.0-0'}}%</div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div *ngIf="isSearching && faceSearchDataCount==0" class="loader-container">
            <div class="loader"></div>
        </div>
        <div *ngIf="!isSearching && faceSearchDataCount==0"
            class="flex flex-auto items-center justify-center p-6 sm:p-10">
            <div class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">
                No Face Matches</div>
        </div>
    </div>
    <div class="relative flex bg-card px-4">
        <mat-paginator class="w-full" style="justify-content: space-between; z-index: 1;" [length]="faceSearchDataCount"
            [pageSize]="pageSize * getNumberOfInstances()" [pageIndex]="pageIndex" [showFirstLastButtons]="true"
            (page)="setPage($event)" aria-label="Select page">
        </mat-paginator>
    </div>
</div>