<div class="flex flex-col flex-auto absolute inset-0 h-full">
    <div class="w-full">
        <mat-button-toggle-group class="w-full flex flex-row">
            <mat-button-toggle [checked]="selectedTab==1" (click)="selectedTab=1" class="w-full">Recognition History
            </mat-button-toggle>
            <mat-button-toggle [checked]="selectedTab==2" (click)="selectedTab=2" class="w-full">Plate List
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <ng-container *ngIf="selectedTab==1">
        <license-plate-search [oEntity]="oEntity" class="flex flex-col flex-auto overflow-y-auto">
        </license-plate-search>
    </ng-container>
    <ng-container *ngIf="selectedTab==2">
        <license-plate-list class="flex flex-col flex-auto overflow-y-auto"></license-plate-list>
    </ng-container>
</div>