<div class="flex flex-col flex-auto overflow-hidden">
    <div *ngIf="!isShareView" [bdcWalkTriggerFor]="drawerExtraPopup4" class="flex flex-row divide-x divide-gray-300">
        <mat-button-toggle-group [(ngModel)]="tabIndex" (ngModelChange)="changeDimension()"
            style="min-height: 40px; max-height: 40px; min-width: 160px;" class="px-2">
            <mat-button-toggle [value]="0" class="text-sm">KPIs</mat-button-toggle>
            <mat-button-toggle [value]="1" class="text-sm">Alerts</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <ng-container *ngIf="tabIndex==0">
        <div class="flex flex-row flex-wrap gap-1 p-2">
            <div *ngIf="oSite"
                class="flex flex-row py-1 px-3 h-6 rounded-full text-sm font-large bg-chartBackgroundColor"
                style="align-items: center;">
                <div
                    style="color: var(--site-chart-color); margin-bottom: 6px; font-size: 26px; font-family: Arial, sans-serif; transform: translateY(4px);">
                    &#8226;</div>
                {{oSite.NAME}}
            </div>
            <div *ngIf="oEntity"
                class="flex flex-row py-1 px-3 h-6 rounded-full text-sm font-large bg-chartBackgroundColor"
                style="align-items: center;">
                <div
                    style="color: var(--entity-chart-color); margin-bottom: 6px; font-size: 26px; font-family: Arial, sans-serif; transform: translateY(4px);">
                    &#8226;</div>
                {{oEntity.NAME}}
            </div>
            <div *ngIf="oFloor"
                class="flex flex-row py-1 px-3 h-6 rounded-full text-sm font-large bg-chartBackgroundColor"
                style="align-items: center;">
                <div
                    style="color: var(--floor-chart-color); margin-bottom: 6px; font-size: 26px; font-family: Arial, sans-serif; transform: translateY(4px);">
                    &#8226;</div>
                {{oFloor.NAME}}
            </div>
        </div>
        <div class="flex flex-row flex-auto w-full h-full justify-center gap-2 p-2" style="max-height: 100px;">
            <div *ngFor="let dimension_data of oList_Dimension_data"
                class="flex flex-col items-center justify-center py-4 px-1 rounded-2xl text-secondary w-full h-full"
                [ngClass]="dimension_data.CssClass"
                (click)="changeKpiDimension(dimension_data.LEVEL_DIMENSION_WITH_STATUS.DIMENSION)">
                <div class="mt-1 text-sm font-medium text-center"
                    [ngClass]="[dimension_data.LEVEL_DIMENSION_WITH_STATUS.ENUM_DIMENSION_STATUS == Enum_Dimension_Status.HIDDEN?'neutralIndexColor':dimension_data.INDEX_COLOR]">
                    {{removeFirstWord(dimension_data.LEVEL_DIMENSION_WITH_STATUS.DIMENSION.NAME)}}</div>
                <div class="text-4xl font-semibold leading-none tracking-tight"
                    [ngClass]="[dimension_data.LEVEL_DIMENSION_WITH_STATUS.ENUM_DIMENSION_STATUS == Enum_Dimension_Status.HIDDEN?'neutralIndexColor':dimension_data.INDEX_COLOR]">
                    {{dimension_data.LEVEL_DIMENSION_WITH_STATUS.ENUM_DIMENSION_STATUS == Enum_Dimension_Status.HIDDEN?
                    '-' : dimension_data.INDEX_VALUE}}
                </div>

            </div>
        </div>
        <div *ngIf="(isChartsLoaded && oChosen_Dimension && oDimension_index_for_entity) else noCharts"
            class="flex flex-col flex-auto h-100 overflow-auto p-2 gap-2">
            <div *ngIf="isDimensionsHidden" class="flex flex-row flex-auto items-center justify-center text-2xl ">No KPI
                Access has been granted.
            </div>
            <ng-container *ngIf="oChosen_Dimension.NAME.includes('Security')">
                <div>
                    <div class="font-bold mb-1">Severity Level Shown</div>
                    <mat-button-toggle-group [(ngModel)]="chosen_severity_setup_id" (change)="Update_Chart_Data()"
                        class="flex flex-row flex-wrap">
                        <mat-button-toggle *ngFor="let setup of oList_Severity_Setup" [value]="setup.SETUP_ID">
                            {{setup.VALUE}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <div class="font-bold my-1">Category Shown</div>
                    <mat-button-toggle-group [(ngModel)]="chosen_category_setup_id" (change)="Update_Chart_Data()"
                        class="flex flex-row flex-wrap">
                        <mat-button-toggle *ngFor="let setup of oList_Category_Setup" [value]="setup.SETUP_ID">
                            {{setup.VALUE}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </ng-container>
            <div *ngFor="let oKpi_data of oList_Kpi_data"
                class="flex flex-col p-3 relative w-full bg-chartBackgroundColor rounded-md"
                style="height: 250px; min-height: 250px; max-height: 250px;">
                <div class="flex flex-row justify-between">
                    <div class="flex flex-col pb-1">
                        <div class="text-sm font-bold">
                            {{oKpi_data.CHART_TITLE}}
                        </div>
                        <div *ngIf="oKpi_data.From_Date" class="text-sm">
                            <strong>From</strong>: {{oKpi_data.From_Date}}
                        </div>
                        <div *ngIf="oKpi_data.To_Date" class="text-sm">
                            <strong>To</strong>: {{oKpi_data.To_Date}}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto overflow-hidden">
                    <canvas *ngIf="oKpi_data.isDataAvailable else noData" class="w-full h-full" baseChart
                        [options]="oKpi_data.ChartConfiguration.options" [type]="oKpi_data.ChartConfiguration.type"
                        [plugins]="oKpi_data.ChartConfiguration.plugins" [data]="oKpi_data.ChartConfiguration.data"
                        (dblclick)="openChartModal(oKpi_data.ChartConfiguration, oKpi_data.CHART_TITLE)"></canvas>
                </div>
                <ng-template #noData>
                    <div class="flex items-center justify-center w-full h-full text-shadow-0 text-black">
                        No Data Available
                    </div>
                </ng-template>
            </div>
            <ng-container *ngIf="isShowWifiSignals()">
                <div *ngFor="let oKpi_data of oList_Wifi_signal_Kpi_data"
                    class="flex flex-col p-3 relative w-full bg-chartBackgroundColor rounded-md"
                    style="height: 250px; min-height: 250px; max-height: 250px;">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col pb-1">
                            <div class="text-sm font-bold">
                                {{oKpi_data.CHART_TITLE}}
                            </div>
                            <div *ngIf="oKpi_data.From_Date" class="text-sm">
                                <strong>From</strong>: {{oKpi_data.From_Date}}
                            </div>
                            <div *ngIf="oKpi_data.To_Date" class="text-sm">
                                <strong>To</strong>: {{oKpi_data.To_Date}}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto overflow-hidden">
                        <canvas *ngIf="oKpi_data.isDataAvailable else noData" class="w-full h-full" baseChart
                            [options]="oKpi_data.ChartConfiguration.options" [type]="oKpi_data.ChartConfiguration.type"
                            [plugins]="oKpi_data.ChartConfiguration.plugins" [data]="oKpi_data.ChartConfiguration.data"
                            (dblclick)="openChartModal(oKpi_data.ChartConfiguration, oKpi_data.CHART_TITLE)"></canvas>
                    </div>
                    <ng-template #noData>
                        <div class="flex items-center justify-center w-full h-full text-shadow-0 text-black">
                            No Data Available
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </div>
        <ng-template #noCharts>
            <div class="flex flex-col flex-auto p-2 h-full w-full gap-2 overflow-y-auto no-scrollbar">
                <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                    <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                    </smartr-card>
                </div>
                <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                    <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                    </smartr-card>
                </div>
                <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                    <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                    </smartr-card>
                </div>
                <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                    <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                    </smartr-card>
                </div>
                <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                    <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                    </smartr-card>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <div class="flex flex-col flex-auto h-full overflow-hidden" *ngIf="tabIndex==1 && isIncidentsLoaded">
        <div class="flex flex-row flex-auto w-full h-full justify-center gap-2 p-2" style="max-height: 100px;">
            <div *ngFor="let setup of oList_Incident_Category_Setup"
                class="flex flex-col items-center justify-center py-8 px-1 rounded-2xl text-secondary bg-chartBackgroundColor w-full h-full cursor-pointer"
                [ngClass]="[setup.SETUP_ID==oChosen_Alerts_Setup.SETUP_ID?'clicked-dimension':'']"
                (click)="changeAlertCategory(setup)">
                <div class="mt-1 text-sm font-medium text-center" style="line-height: 14px;">
                    {{setup.VALUE}}
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-auto overflow-y-auto no-scrollbar">
            <building-alerts class="flex h-full" [oEntity]="oEntity" [oChosen_Category_Setup]="oChosen_Alerts_Setup"
                [oEntity_Incidents]="oEntity_Incidents" [isShareView]="isShareView">
            </building-alerts>
            <ng-template #noAlerts>
                <div class="flex flex-auto items-center justify-center p-6 sm:p-10">
                    <div class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">
                        No Alerts In This Category</div>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="flex flex-col flex-auto h-full" *ngIf="tabIndex==1 && !isIncidentsLoaded">
        <building-alerts-skeleton class="flex flex-col flex-auto h-full"></building-alerts-skeleton>
    </div>
</div>

<bdc-walk-popup #drawerExtraPopup4 name="drawerExtraPopup4" [mustCompleted]="{drawerPopup5:true}" [showButton]="true"
    [buttonText]="'Next'" [showCloseButton]="false" [horizontal]="true" xPosition="before">Alerts can also be accessed
    by clicking on this tab.
</bdc-walk-popup>