<div class="flex-flex-row flex-auto">
    <div class="flex flex-row flex-auto relative p-5" [ngClass]="isFromComponent?'pt-0':''"
        style="min-height: 450px; min-width: 696px;">
        <ng-container *ngIf="!isFromComponent">
            <button mat-icon-button (click)="goBack()" class="my-auto mr-2">
                <mat-icon class="border-2 rounded-full text-current w-full h-full" [svgIcon]="'mat_solid:chevron_left'">
                </mat-icon>
            </button>
        </ng-container>
        <div class="flex flex-col flex-auto overflow-x-auto">
            <div *ngIf="!isFromComponent" class="flex flex-row items-center mb-4">
                <div class="text-3xl font-bold tracking-tight leading-none">Scene Details</div>
                <button class="ml-auto" mat-icon-button [mat-dialog-close]="'cancel'">
                    <mat-icon svgIcon="heroicons_outline:x" class="text-iconColor"></mat-icon>
                </button>
            </div>
            <ng-container *ngIf="oScene">
                <div class="flex flex-row">
                    <div class="flex flex-col flex-auto" id="main-data-container">
                        <div class="flex flex-row mb-4">
                            <div>
                                <div class="flex flex-row items-center">
                                    <mat-icon class="cursor-pointer" svgIcon="heroicons_outline:clock"
                                        matTooltip="Scene Time"></mat-icon>
                                    <div class="ml-2">{{oScene.SCENE_DETAILS.Datetime | date : "medium" :
                                        TimezoneService.oCurrent_Timezone_Offset}}</div>
                                </div>
                                <div class="flex flex-row items-center mt-1">
                                    <mat-icon class="cursor-pointer" svgIcon="heroicons_outline:video-camera"
                                        matTooltip="Camera Name"></mat-icon>
                                    <div class="ml-2">{{oCameraName}}</div>
                                </div>
                                <ng-container *ngIf="data.incident?.BLACKLISTED_PERSON_NAME != null">
                                    <div class="flex flex-row items-center mt-1">
                                        <mat-icon class="cursor-pointer" svgIcon="mat_outline:face"
                                            matTooltip="Person Name"></mat-icon>
                                        <div class="ml-2">Blacklisted Person: {{data.incident?.BLACKLISTED_PERSON_NAME}}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <ng-container *ngIf="!isFromComponent">
                                <div class="flex rounded p-3 magnifying-glass-button ml-auto h-fit"
                                    [style.background-color]="isBoxOn?'var(--smartr-button)':'#f1f5f9'"
                                    (click)="toggleBoxes()">
                                    <mat-icon *ngIf="isBoxOn" svgIcon="heroicons_outline:template"
                                        style="transform: scaleY(-1);" [style.color]="isDark()?'white':'#0f172a'">
                                    </mat-icon>
                                    <mat-icon *ngIf="!isBoxOn" svgIcon="heroicons_outline:template"
                                        style="transform: scaleY(-1);">
                                    </mat-icon>
                                </div>
                            </ng-container>
                            <mat-form-field *ngIf="isLoopOn" [ngClass]="isFromComponent?'ml-auto':'ml-2'"
                                class="smartr-mat-emphasized-affix" subscriptSizing="dynamic" [floatLabel]="'always'">
                                <div class="text-secondary" matPrefix>
                                    Zoom
                                </div>
                                <input numbersOnly matInput [(ngModel)]="loopZoom" placeholder="Loop Zoom"
                                    (ngModelChange)="fixMagnification()" min="0.5" max="8" autocomplete="off">
                            </mat-form-field>
                            <div class="flex rounded p-3 magnifying-glass-button h-fit"
                                [ngClass]="isFromComponent?'ml-auto':'ml-2'"
                                [style.background-color]="isLoopOn?'var(--smartr-button)':'#f1f5f9'"
                                (click)="toggleLoop()">
                                <mat-icon *ngIf="isLoopOn" svgIcon="mat_outline:search_off"
                                    [style.color]="isDark()?'white':'#0f172a'">
                                </mat-icon>
                                <mat-icon *ngIf="!isLoopOn" svgIcon="mat_outline:search">
                                </mat-icon>
                            </div>
                        </div>
                        <div class="flex flex-col items-center">
                            <div class="img-magnifier-container">
                                <img id="myimage" class="image-magnified" [src]="sceneFile" (load)="imageLoaded()">
                                <div *ngIf="isLoopOn" id="magnifier" class="img-magnifier-glass z-20"
                                    style="background-image: url('{{oScene.SCENE_DETAILS.File}}'); background-repeat: no-repeat;">
                                </div>
                                <ng-container *ngIf="isBoxOn && isImageLoaded && selectedObject">
                                    <div *ngFor="let object of oScene.SCENE_OBJECT_LIST; let i = index"
                                        class="absolute border-4 cursor-pointer"
                                        [ngClass]="selectedObject && object.SceneObjectId==selectedObject.SceneObjectId?'border-red-500 z-10':'border-green-500'"
                                        [ngStyle]="{'left.px':object.X,'top.px':object.Y, 'width.px':object.W, 'height.px':object.H}"
                                        (click)="selectObject(object,i)">
                                    </div>
                                </ng-container>
                            </div>
                            <div *ngIf="isBoxOn && isImageLoaded && selectedObject" class="flex justify-center mt-7"
                                [style.width.px]="imageWidth">
                                <owl-carousel-o class="w-full h-full" [options]="customOptions" #owlCar>
                                    <ng-template carouselSlide
                                        *ngFor="let object of oScene.SCENE_OBJECT_LIST; let i = index"
                                        [id]="i.toString()">
                                        <div class="flex items-center justify-center w-full h-full">
                                            <div [ngStyle]="{'background-position-x.px': -object.X+40-object.W/2,'background-position-y.px': -object.Y+40-object.H/2, 'background-size': imageWidth + 'px ' + imageHeight + 'px'}"
                                                style="background: url('{{oScene.SCENE_DETAILS.File}}'); position: relative; transform-origin: left top; width: 80px; height: 80px; cursor: pointer;"
                                                [ngClass]="object.SceneObjectId==selectedObject.SceneObjectId?'border-4 border-red-500':''"
                                                (click)="selectObject(object,i)">
                                            </div>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isBoxOn && isImageLoaded && !isFromComponent && selectedObject"
                        class="flex flex-col p-4 ml-4 rounded-2xl bg-gray-100 items-center justify-center space-y-2"
                        style="min-width: 250px;">
                        <div class="flex flex-auto items-center justify-center" style="width: 150px; height: 150px;">
                            <div [ngStyle]="{'background-position-x.px': -selectedObject.X+75-selectedObject.W/2,'background-position-y.px': -selectedObject.Y+75-selectedObject.H/2, 'background-size': imageWidth + 'px ' + imageHeight + 'px', 'width.px':150,'height.px':150}"
                                style="background: url('{{oScene.SCENE_DETAILS.File}}'); position: relative; transform-origin: left top; width: 150px; height: 150px; background-repeat: no-repeat;">
                                <div class="absolute border-4"
                                    [ngClass]="selectedObject && selectedObject.SceneObjectId==selectedObject.SceneObjectId?'border-red-500 z-10':'border-green-500'"
                                    [ngStyle]="{'left.px':75-(selectedObject.W > 150?150:selectedObject.W)/2,'top.px':75-(selectedObject.H > 150?150:selectedObject.H)/2, 'width.px':selectedObject.W > 150?150:selectedObject.W, 'height.px':selectedObject.H > 150?150:selectedObject.H}">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col w-full space-y-2">
                            <div class="grid grid-cols-2 w-full">
                                <div class="font-semibold">Object Type:</div>
                                <div>{{selectedObject.ObjectType | titlecase}}</div>
                            </div>
                            <div class="grid grid-cols-2 w-full">
                                <div class="font-semibold">Confidence: </div>
                                <div>{{selectedObject.Confidence}}</div>
                            </div>
                            <div class="grid grid-cols-2 w-full">
                                <div class="font-semibold">Color: </div>
                                <div><span *ngFor="let color of selectedObject.Metadata.Colors; let last=last">{{color |
                                        titlecase}}<span *ngIf="!last">, </span>
                                    </span></div>
                            </div>
                            <div class="grid grid-cols-2 w-full">
                                <div class="font-semibold">Width: </div>
                                <div>{{realSelectedObject.W}}</div>
                            </div>
                            <div class="grid grid-cols-2 w-full">
                                <div class="font-semibold">Height: </div>
                                <div>{{realSelectedObject.H}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!oScene">
                <ng-container *ngIf="!isFromComponent">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <div class="flex flex-row w-full mb-2">
                                <div class="flex flex-col">
                                    <div class="skeleton-box mb-1" style="width: 180px; height: 21px;"></div>
                                    <div class="skeleton-box" style="width: 160px; height: 21px;"></div>
                                </div>
                                <div class="skeleton-box ml-auto" style="width: 50px; height: 50px;"></div>
                                <div class="skeleton-box ml-2" style="width: 50px; height: 50px;"></div>
                            </div>
                            <div class="flex flex-col">
                                <div class="skeleton-box" style="width: 600px; height: 337.5px;"></div>
                                <div *ngIf="isBoxOn" class="skeleton-box mt-2" style="width: 600px; height: 80px;">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isBoxOn" class="skeleton-box ml-4" style="width: 275px; height: 483.5px;"></div>
                    </div>
                </ng-container>
                <ng-container *ngIf="isFromComponent">
                    <div class="flex flex-row">
                        <div class="flex flex-col flex-auto">
                            <div class="flex flex-row mb-4">
                                <div class="flex flex-col">
                                    <div class="skeleton-box mb-1" style="width: 180px; height: 21px;"></div>
                                    <div class="skeleton-box" style="width: 160px; height: 21px;"></div>
                                </div>
                                <div class="skeleton-box ml-auto" style="width: 50px; height: 50px;"></div>
                            </div>
                            <div class="flex flex-col items-center">
                                <div class="skeleton-box" style="width: 600px; height: 337.5px;"></div>
                                <div *ngIf="isBoxOn" class="skeleton-box mt-7" style="width: 600px; height: 80px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <ng-container *ngIf="!isFromComponent">
            <button mat-icon-button (click)="goForward()" class="my-auto ml-2">
                <mat-icon class="border-2 rounded-full text-current w-full h-full"
                    [svgIcon]="'mat_solid:chevron_right'">
                </mat-icon>
            </button>
        </ng-container>
    </div>

    <div class="mt-2 mb-2 border-t"></div>

    <ng-container *ngIf="isFromComponent && oScene && isImageLoaded">
        <div class="flex flex-row pt-5">
            <div *ngIf="isBoxOn && selectedObject"
                class="flex flex-col p-4 ml-4 rounded-2xl bg-gray-100 items-center justify-center space-y-2 "
                style="min-width: 250px;">
                <div class="flex flex-auto items-center justify-center my-4" style="width: 150px; height: 150px;">
                    <div *ngIf="!data.isLicensePlate"
                        [ngStyle]="{'background-position-x.px': -selectedObject.X+75-selectedObject.W/2,'background-position-y.px': -selectedObject.Y+75-selectedObject.H/2, 'background-size': imageWidth + 'px ' + imageHeight + 'px', 'width.px':150,'height.px':150}"
                        style="background: url('{{oScene.SCENE_DETAILS.File}}'); position: relative; transform-origin: left top; width: 150px; height: 150px; background-repeat: no-repeat;">
                    </div>
                    <img *ngIf="data.isLicensePlate" [src]="Asset_Endpoint+'/VideoAi/Images/License_Plate.png'"
                        style="width: 150px; height: 150px;" class="object-contain">
                </div>
                <div class="mb-2 w-full">
                    <div class="flex flex-col w-full space-y-2">
                        <div *ngIf="data.incident?.BLACKLISTED_LICENSE_PLATE"
                            class="border-black border font-bold p-2.5 max-w-36 text-center rounded-md bg-white self-center"
                            style="border-left: 15px solid black !important">
                            PO7AUF
                        </div>
                        <div class="grid grid-cols-2 w-full">
                            <div class="font-semibold">Object Type:</div>
                            <div>{{selectedObject.ObjectType | titlecase}}</div>
                        </div>
                        <div class="grid grid-cols-2 w-full">
                            <div class="font-semibold">Confidence: </div>
                            <div>{{selectedObject.Confidence}}</div>
                        </div>
                        <div class="grid grid-cols-2 w-full">
                            <div class="font-semibold">Color: </div>
                            <div><span *ngFor="let color of selectedObject.Metadata.Colors; let last=last">{{color |
                                    titlecase}}<span *ngIf="!last">, </span>
                                </span></div>
                        </div>
                        <div class="grid grid-cols-2 w-full">
                            <div class="font-semibold">Width: </div>
                            <div>{{realSelectedObject.W}}</div>
                        </div>
                        <div class="grid grid-cols-2 w-full">
                            <div class="font-semibold">Height: </div>
                            <div>{{realSelectedObject.H}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isShareView" class="flex flex-col flex-auto ml-8 pt-1">
                <ng-container *ngIf="displayEmailEntry">
                    <div class="flex flex-row text-2xl font-semibold tracking-tight leading-none">Action Panel</div>
                    <div class="flex flex-row mt-6 mb-2 mr-4">
                        <mat-form-field class="w-full" subscriptSizing="dynamic">
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:mail'">
                            </mat-icon>
                            <input matInput [formControl]="emailFormControl" [placeholder]="'Add Email address'"
                                [spellcheck]="false">
                        </mat-form-field>
                        <button class="mx-2 mt-1" mat-flat-button (click)="addEmailToList()" matTooltip="Add Email"
                            [disabled]="emailSending">
                            <mat-icon matPrefix class="hidden sm:flex icon-size-6" [svgIcon]="'heroicons_solid:plus'">
                            </mat-icon>
                        </button>
                        <button class="mt-1" mat-flat-button (click)="sendEmail()" matTooltip="Send Email"
                            [disabled]="emailSending">
                            <mat-icon *ngIf="!emailSending" matPrefix class="hidden sm:flex icon-size-6"
                                [svgIcon]="'mat_solid:send'">
                            </mat-icon>
                            <mat-progress-spinner *ngIf="emailSending" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                    <div class="flex flex-col gap-2 mr-4">
                        <mat-card class="flex flex-row items-center w-full bg-gray-100"
                            *ngFor="let email of oList_Email">
                            <div>{{email}}</div>
                            <button class="ml-auto" mat-icon-button (click)="removeEmail(email)">
                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:trash'">
                                </mat-icon>
                            </button>
                        </mat-card>
                    </div>
                </ng-container>
                <div class="flex flex-col flex-auto w-full">
                    <ng-container *ngIf="!displayEmailEntry">
                        <div class="flex flex-row text-2xl font-semibold tracking-tight leading-none pb-7">Action Panel
                        </div>
                        <div class="flex flex-row flex-wrap flex-auto gap-4 pr-5">
                            <button class="email-btn" mat-flat-button (click)="toggleEmailSend()">
                                <div class="flex flex-col items-center gap-4">
                                    <mat-icon class="icon-size-8 text-white" [svgIcon]="'heroicons_solid:mail-open'">
                                    </mat-icon>
                                    <span class="text-lg">Email</span>
                                </div>
                            </button>
                            <button class="email-btn" mat-flat-button [disabled]="true">
                                <div class="flex flex-col items-center gap-4">
                                    <mat-icon class="icon-size-8 text-white" [svgIcon]="'heroicons_outline:qrcode'">
                                    </mat-icon>
                                    <span class="text-lg">QR Code</span>
                                </div>
                            </button>
                            <button class="email-btn" mat-flat-button [disabled]="true">
                                <div class="flex flex-col items-center gap-4">
                                    <mat-icon class="icon-size-8 text-white" [svgIcon]="'heroicons_solid:link'">
                                    </mat-icon>
                                    <span class="text-lg">Link</span>
                                </div>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="isFromComponent && !oScene">
        <div class="flex flex-row pt-5">
            <div *ngIf="isBoxOn" class="flex flex-col skeleton-box ml-4 mr-7" style="width: 275px; height: 350px;">
            </div>
            <div class="flex flex-col flex-auto w-full">
                <div class="skeleton-box mb-7" style="width: 200px; height: 40px;"></div>
                <div class="flex flex-row flex-auto gap-4 pr-5">
                    <div class="flex flex-col gap-4">
                        <div class="skeleton-box" style="width: 220px; height: 200px;"></div>
                    </div>
                    <div class="flex flex-col gap-4">
                        <div class="skeleton-box" style="width: 220px; height: 200px;"></div>
                    </div>
                    <div class="flex flex-col gap-4">
                        <div class="skeleton-box" style="width: 220px; height: 200px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>