<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="SCHEDULING_METHOD" value="HostedService" />
        <add key="DATA_RETENTION_CRON_TIME" value="0 0 * * *" />
        <add key="API_GATEWAY_URL" value="http://districtnex-api-gateway" />
    </appSettings>
</configuration>