:host ::ng-deep .selector-toggle-group.mat-button-toggle-group {
    width: 100%;

    .selected-mat-button-toggle {
        overflow: hidden;
        border: 2px solid rgba(44, 46, 48, var(--tw-text-opacity)) !important;
        margin: 0px !important;
    }
}