<div class="flex flex-col flex-auto w-full h-full no-scrollbar overflow-hidden">
    <div class="flex flex-row w-full p-2 bg-white" style="align-items: center;">
        <div class="flex flex-row gap-2 items-center">
            <img [src]="oDistrict?.LOGO_URL" style="width: 40px;height: 40px;">
            <div class="flex flex-col w-full">
                <div class="text-2xl font-semibold text-smallTextColor">{{oDistrict?.NAME}} Insights Panel
                </div>
                <div class="flex flex-row gap-10">
                    <div class="flex flex-row gap-1 items-center">
                        <mat-icon class="icon-size-5" svgIcon="mat_outline:location_on"></mat-icon>
                        <div class="text-md leading-tight text-smallTextColor">{{oDistrict?.LOCATION}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row ml-auto gap-4">
            <share-button *ngIf="isShowShareButton" [oPdfName]="getPdfName()" [orientation]="'l'"></share-button>
            <button class="ml-auto" mat-icon-button (click)="closeClickEventEmitter.emit()" matTooltip="Close Drawer">
                <mat-icon [svgIcon]="'heroicons_outline:x'" class="text-iconColor"></mat-icon>
            </button>
        </div>
    </div>
    <div class="flex flex-row flex-auto px-2 pt-0 pb-4 gap-2 overflow-hidden">
        <smartr-card
            class="flex flex-col h-full rounded-xl bg-chartBackgroundColor p-2 gap-2 text-center w-52 min-w-52 max-w-52">
            <div class="text-lg font-semibold text-smallTextColor mt-2">Quick Links</div>
            <div class="overflow-auto w-full pb-2">
                <mat-button-toggle-group [(ngModel)]="chosenTab" (ngModelChange)="tabChanged()"
                    class="selector-toggle-group flex flex-col gap-2">
                    <mat-button-toggle [value]="13" [ngClass]="chosenTab==13?'selected-mat-button-toggle':''"
                        class="text-md">
                        Correlation</mat-button-toggle>
                    <mat-button-toggle [value]="12" [ngClass]="chosenTab==12?'selected-mat-button-toggle':''"
                        class="text-md">
                        Single KPI Analysis</mat-button-toggle>
                    <mat-button-toggle *ngIf="oDistrict?.NAME=='Calgary Main'" [value]="1"
                        [ngClass]="chosenTab==1?'selected-mat-button-toggle':''" class="text-md">
                        Telus Sky Occupancy</mat-button-toggle>
                    <mat-button-toggle [value]="3" [ngClass]="chosenTab==3?'selected-mat-button-toggle':''"
                        class="text-md">
                        Energy Panel</mat-button-toggle>
                    <mat-button-toggle [value]="4" [ngClass]="chosenTab==4?'selected-mat-button-toggle':''"
                        class="text-md">
                        Wifi Signal Strength</mat-button-toggle>
                    <mat-button-toggle [value]="5" [ngClass]="chosenTab==5?'selected-mat-button-toggle':''"
                        class="text-md">
                        Multiple KPI Comparison</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </smartr-card>
        <div class="flex flex-auto overflow-hidden relative page-to-print">
            <div *ngIf="isIFrameLoading"
                class="loader-container absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                <div class="loader"></div>
            </div>
            <ng-container [ngSwitch]="chosenTab">
                <ng-container *ngSwitchCase="13">
                    <correlation [oDistrict]="oDistrict" class="flex flex-col flex-auto"
                        (oToggle_Share_Button_EventEmitter)="toggleShareButton($event)"></correlation>
                </ng-container>
                <ng-container *ngSwitchCase="12">
                    <single-kpi-comparison [oDistrict]="oDistrict" class="flex flex-col flex-auto"
                        (oToggle_Share_Button_EventEmitter)="toggleShareButton($event)"></single-kpi-comparison>
                </ng-container>
                <ng-container *ngSwitchCase="1">
                    <iframe class="flex-auto" (load)="isIFrameLoading = false"
                        src="https://app.powerbi.com/view?r=eyJrIjoiZDc0YzRiY2YtZmNiNC00NzAxLWJhOTktMGI0YjRkZTMxMzU1IiwidCI6IjdlM2IyMDg3LWZhMWQtNDg2ZS05MWIyLTM5M2M3MDk3NjViMSIsImMiOjh9&embedImagePlaceholder=true&pageName=ReportSectionb6a59bcb691d2e864eac"></iframe>
                </ng-container>
                <ng-container *ngSwitchCase="3">
                    <iframe class="flex-auto" (load)="isIFrameLoading = false"
                        src="https://emm.picacity.ai/pdt/smartpanels/viewer/telusskyenergyoverview"></iframe>
                </ng-container>
                <ng-container *ngSwitchCase="4">
                    <wifi-signal-insights class="flex flex-auto" [oDistrict]="oDistrict">
                    </wifi-signal-insights>
                </ng-container>
                <ng-container *ngSwitchCase="5">
                    <multiple-kpi-comparison class="flex flex-auto" [oDistrict]="oDistrict"
                        (oToggle_Share_Button_EventEmitter)="toggleShareButton($event)">
                    </multiple-kpi-comparison>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <div class="flex flex-col flex-auto items-center justify-center">This panel has no data yet</div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>