<div class="flex flex-col flex-auto">
    <div class="flex flex-row items-center mb-4">
        <div class="text-3xl font-bold tracking-tight leading-none">Scene Details</div>
        <button class="ml-auto" mat-icon-button [mat-dialog-close]="'cancel'">
            <mat-icon svgIcon="heroicons_outline:x" class="text-iconColor"></mat-icon>
        </button>
    </div>
    <div>Separate categories with 'and' or 'or'.</div>
    <div class="border-b my-2"></div>
    <div>Write category(color) to get all category objects with that color.</div>
    <div class="border-b my-2"></div>
    <div>You can use logical operatos, such as <,>, <=,>= and = to specify number of objects per category.</div>
    <div class="border-b my-2"></div>
    <div>Complex search example: human>=2 and car(black)=2</div>
    <div class="border-b my-2"></div>
    <div>Press enter or click the magnifying glass to search</div>
    <div class="flex mt-2 items-center justify-center w-full">
        <button mat-stroked-button color="accent" [mat-dialog-close]="'cancel'">Close</button>
    </div>
</div>