<div class="flex flex-col flex-auto w-full h-full overflow-hidden">
    <div class="flex flex-row w-full p-2" style="align-items: center;">
        <label class="text-2xl font-semibold">Floor View</label>
        <button class="ml-auto m-2" mat-icon-button (click)="closeClickEventEmitter.emit()" matTooltip="Close Drawer">
            <mat-icon [svgIcon]="'heroicons_outline:x'" class="text-iconColor"></mat-icon>
        </button>
    </div>
    <floor-renderer class="flex flex-col flex-auto h-full w-full p-2" [oFloor]="oFloor" [oEntity]="oEntity"
        [isChangingFloor]="isChangingFloor" [isShowExpansion]="false" [container_id]="'expandedFloorContainer'"
        [oList_Wifi_signal]="oList_Wifi_signal" [isShareView]="isShareView">
    </floor-renderer>
</div>