<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ENABLE_TICKET" value="1" />
        <add key="IS_DEBUG_MODE" value="1" />
        <add key="CACHING_ENABLED" value="0" />
        <add key="ENABLE_MONITORING" value="0" />
        <add key="BLC_MESSAGES" value="./Messages.xml" />
        <add key="MONGODB_DATABASE_NAME" value="DistrictNex" />
        <add key="LIST_DWELL_TIME" value="15-30,30-60,60-120,120-1440" />
        <add key="API_GATEWAY_URL" value="http://districtnex-api-gateway" />
        <add key="EDMONTON_API_KEY" value="districtnex-dev-edmonton-api-app-token" />
        <add key="CONN_STR" value="districtnex-dev-sqlserver-instance-connection-string" />
        <add key="MONGODB_CONN_STR" value="districtnex-dev-mongodb-instance-connection-string" />
        <add key="ASSETS_ENDPOINT" value="https://dev.api.picacity.ai/Api/FileManagement/Files" />

        <!-- Telus API Secrets -->
        <add key="TELUS_SCOPE" value="districtnex-dev-telus-scope" />
        <add key="TELUS_CLIENT_ID" value="districtnex-dev-telus-client-id" />
        <add key="TELUS_CUSTOMER_ID" value="districtnex-dev-telus-customer-id" />
        <add key="TELUS_CLIENT_SECRET" value="districtnex-dev-telus-client-secret" />
    </appSettings>
</configuration>