<div class="flex flex-col flex-auto overflow-hidden p-4">
    <ng-container *ngIf="!isShowGeneratedData && !isDataLoading">
        <button class="ml-auto min-w-26" (click)="addAccessControlObject()" *ngIf="!isShowGeneratedData"
            mat-flat-button>Add Level
            KPI</button>
        <form #kpiComparisonForm="ngForm" class="flex flex-col flex-auto overflow-y-auto overflow-x-hidden">
            <div *ngFor="let oAccess_control_object of oList_Access_Control_Object; let i = index"
                class="flex flex-row gap-4 mb-4">
                <mat-form-field class="w-full" [floatLabel]="'always'" (click)="$event.stopPropagation()">
                    <mat-label>Data Level</mat-label>
                    <mat-select matInput placeholder="Data Level" autocomplete="off"
                        (selectionChange)="resetAccess_Control_Object(oAccess_control_object);"
                        [(ngModel)]="oAccess_control_object.DATA_LEVEL_SETUP_ID" [name]="'DATA_LEVEL_SETUP_ID'+i"
                        required>
                        <mat-option *ngFor="let data_access_level_setup of oList_Data_access_level_setup"
                            [value]="data_access_level_setup.SETUP_ID">
                            {{data_access_level_setup.VALUE}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full" [floatLabel]="'always'" (click)="$event.stopPropagation()">
                    <mat-label>Object</mat-label>
                    <mat-select matInput [placeholder]="getSetupValue(oAccess_control_object.DATA_LEVEL_SETUP_ID)"
                        [(ngModel)]="oAccess_control_object.LEVEL_ID" [name]="'LEVEL_ID'+i" required
                        (selectionChange)="Filter_KPI_List(oAccess_control_object);Check_Available_Kpi_List(oAccess_control_object)"
                        [disabled]="!getObjects(oAccess_control_object)?.length" autocomplete="off">
                        <mat-option>
                            <ngx-mat-select-search #selectObjectSearch
                                [placeholderLabel]="'Search for '+getSetupValue(oAccess_control_object.DATA_LEVEL_SETUP_ID)"
                                noEntriesFoundLabel="No Matching Sites">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let object of getObjects(oAccess_control_object) | filter: selectObjectSearch.value"
                            [value]="getObjectId(oAccess_control_object.DATA_LEVEL_SETUP_ID, object)">
                            {{getObjectName(oAccess_control_object.DATA_LEVEL_SETUP_ID,
                            getObjectId(oAccess_control_object.DATA_LEVEL_SETUP_ID, object))}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>KPI</mat-label>
                    <mat-select matInput placeholder="Choose a KPI" [name]="'oOrganization_data_souce_KPI_ID'+i"
                        required autocomplete="off"
                        [(ngModel)]="oAccess_control_object.Selected_Organization_data_source_kpi"
                        (selectionChange)="Select_KPI(oAccess_control_object,$event)"
                        [disabled]="oAccess_control_object.List_AVAILABLE_ORGANIZATION_DATA_SOURCE_KPI?.length === 0"
                        #kpiSelect>
                        <mat-option>
                            <ngx-mat-select-search #selectKpiSearch placeholderLabel="Search for a specific KPI"
                                noEntriesFoundLabel="No Matching Data">
                            </ngx-mat-select-search>
                        </mat-option>
                        <ng-container
                            *ngFor="let organization_data_source_kpi of oAccess_control_object.List_Filtered_Organization_data_source_kpi | filter: selectKpiSearch.value">
                            <mat-option
                                *ngIf="!(organization_data_source_kpi.Kpi.UNIT != first_unit && second_unit != null && organization_data_source_kpi.Kpi.UNIT != second_unit)"
                                [value]="organization_data_source_kpi">
                                {{organization_data_source_kpi.Kpi.NAME}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <button *ngIf="oList_Access_Control_Object.length>1" class="mt-8" mat-icon-button matTooltip="Remove"
                    (click)="removeAccessControlObject(oAccess_control_object)">
                    <mat-icon [svgIcon]="'heroicons_outline:trash'" class="text-red-500"></mat-icon>
                </button>
            </div>

            <div class="font-semibold mb-1 text-md">Aggregate By</div>
            <div class="flex flex-row items-center mb-8">
                <mat-button-toggle-group class="grid grid-cols-3 bottom-button-toggle gap-1"
                    [(ngModel)]="oEnum_Timespan" name="oEnum_Timespan" required>
                    <mat-button-toggle *ngFor="let enum of getEnumsToDisplay() | keyvalue" [value]="enum.value"
                        [ngClass]="[oEnum_Timespan==enum.value ? 'bg-secondaryColor' : '',oEnum_Timespan==enum.value && isDark?'text-white': '']">
                        {{getEnumCollectionValue(enum.value)}}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <ng-container *ngIf="oEnum_Timespan">
                <div *ngIf="getMinimumNumberOfDays()!=1" class="text-lg"
                    [ngClass]="areDatesValid()?'text-green-500':'text-red-500'">
                    The period between start and end dates must be a multiple of
                    {{getMinimumNumberOfDays()}} days.</div>
                <div class="flex flex-row gap-4 mb-4">
                    <mat-form-field [floatLabel]="'always'" class="w-full">
                        <mat-label>Start Date</mat-label>
                        <input matInput [(ngModel)]="oStart_Date" name="START_DATE" name="START_DATE" required
                            [matDatepicker]="startDatePicker" (click)="startDatePicker.open()" placeholder="Start Date"
                            (keydown)="false" autocomplete="off" [max]="getMaxStartDate()">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                        <mat-error>Start Date is required</mat-error>
                    </mat-form-field>
                    <mat-form-field [floatLabel]="'always'" class="w-full">
                        <mat-label>End Date</mat-label>
                        <input matInput [(ngModel)]="oEnd_Date" name="END_DATE" name="END_DATE" required
                            [matDatepicker]="endDatePicker" [matDatepickerFilter]="endDateFilter"
                            (click)="endDatePicker.open()" placeholder="End Date" (keydown)="false" autocomplete="off"
                            [min]="oStart_Date" [max]="oToday_Date" [disabled]="!oStart_Date">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                        <mat-error>End Date is required</mat-error>
                    </mat-form-field>
                </div>
            </ng-container>
            <button class="ml-auto min-w-26" mat-flat-button (click)="Generate_Data()"
                [disabled]="kpiComparisonForm.invalid || !areDatesValid()">Generate</button>
        </form>
    </ng-container>
    <div *ngIf="isDataLoading" class="loader-container absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <div class="loader"></div>
    </div>
    <div *ngIf="isShowGeneratedData && !isDataLoading"
        class="flex flex-col flex-auto overflow-y-auto overflow-x-hidden">
        <div class="flex flex-row mb-4 gap-4 items-center">
            <button mat-icon-button matTooltip="Go Back" class="remove-on-pdf" (click)="goBack()">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'" class="text-iconColor"></mat-icon>
            </button>
        </div>
        <div class="w-full h-300 max-h-300 min-h-100">
            <canvas class="w-full h-full" baseChart [data]="oKpi_data.ChartConfiguration.data"
                [options]="oKpi_data.ChartConfiguration.options"
                (dblclick)="openChartModal(oKpi_data.ChartConfiguration, oKpi_data.CHART_TITLE)"></canvas>
        </div>
    </div>
</div>