<div class="flex flex-row w-full p-2 bg-white" style="align-items: center;">
    <label class="text-2xl font-semibold">&nbsp;Intersection Detailed Information</label>
    <div class="flex flex-row ml-auto gap-4">
        <button mat-icon-button (click)="Close_Drawer()" matTooltip="Close Drawer">
            <mat-icon [svgIcon]="'heroicons_outline:x'" class="text-iconColor"></mat-icon>
        </button>
    </div>
</div>
<div class="flex flex-row w-full h-full overflow-hidden divide-x border-t border-gray-300 divide-gray-300">
    <div id="intersection-map-container"
        class="flex flex-col flex-auto h-full divide-y divide-gray-300 w-[30%] overflow-y-auto"
        style="transition: width 400ms ease-in">
        <mgl-map id="panel-map" [style]="mapStyle" [zoom]="[zoom]" [center]="center" [pitch]="[pitch]"
            [antialias]="true" [bearing]="[bearing]" (mapLoad)="onLoad($event)">
        </mgl-map>
        <div class="flex flex-col flex-auto h-full p-4">
            <div class="w-full mb-2" style="min-height: 130px; height: 130px;">
                <div class="flex flex-row w-full h-full pr-2">
                    <div style="width: 30%;height: 100%;">
                        <img class="object-cover w-full h-full skeleton-box" style="border-radius: 0.5rem;"
                            src="assets/images/intersections/telus-hq-intersection-1.jpeg" alt="Intersection">
                    </div>
                    <div class="mx-3" style="height: 80%; align-self: center; border-right-width: 2px;"></div>
                    <div class="flex flex-col flex-auto" style="width: 65%;">
                        <div style="grid-column: span 3 / auto;">
                            <div class="flex flex-col mt-2">
                                <span class="text-sm text-iconColor leading-none">Entity
                                    Name</span>
                                <span class="font-semibold leading-none mt-1">{{oEntity.NAME}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-b border-gray-300 mb-2"></div>
            <div class="grid grid-cols-2 gap-2">
                <img class="w-full rounded-xl" src="assets/temp/LAS_VEGAS_STRIP_LIVE_CAM.gif">
                <img class="w-full rounded-xl" src="assets/temp/JULIAN_HWY.gif">
            </div>
        </div>
    </div>
    <div class="flex flex-col h-full overflow-y-auto overflow-x-hidden border-r border-gray-300 gap-1"
        style="min-width: 10px;">
    </div>
    <div class="relative flex flex-col flex-auto h-full w-[40%]" style="transition: width 400ms ease-in">
        <div class="flex flex-row w-full p-2 items-center">
            <button *ngIf="selectedTab" mat-icon-button class="mr-1" (click)="selectedTab=null" matTooltip="Go Back">
                <mat-icon class="font-semibold" svgIcon="heroicons_outline:arrow-sm-left"></mat-icon>
            </button>
            <label class="text-2xl font-semibold">{{selectedTab?tabs[selectedTab-1]:'Building Video AI Panel'}}</label>
        </div>
        <div *ngIf="!selectedTab" class="grid grid-cols-2 grid-flow-row w-full h-full">
            <div (click)="selectedTab=1"
                class="relative group flex flex-col items-center py-2 justify-center overflow-hidden bg-card border-r border-b even:border-r-0 hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 cursor-pointer">
                <div
                    class="relative flex shrink-0 items-center justify-center w-20 h-20 m-3 rounded-full bg-gray-100 dark:bg-gray-700">
                    <mat-icon class="z-10 icon-size-10" [svgIcon]="'mat_outline:image_search'"></mat-icon>
                </div>
                <div class="font-medium text-center mb-2 text-xl">Scene Search</div>
            </div>
            <div (click)="selectedTab=2"
                class="relative group flex flex-col items-center py-2 justify-center overflow-hidden bg-card border-r border-b even:border-r-0 hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 cursor-pointer">
                <div
                    class="relative flex shrink-0 items-center justify-center w-20 h-20 m-3 rounded-full bg-gray-100 dark:bg-gray-700">
                    <mat-icon class="z-10 icon-size-10" [svgIcon]="'mat_outline:video_camera_back'"></mat-icon>
                </div>
                <div class="font-medium text-center mb-2 text-xl">Video Monitoring</div>
            </div>
            <div (click)="selectedTab=3"
                class="relative group flex flex-col items-center py-2 justify-center overflow-hidden bg-card border-r border-b even:border-r-0 hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 cursor-pointer">
                <div
                    class="relative flex shrink-0 items-center justify-center w-20 h-20 m-3 rounded-full bg-gray-100 dark:bg-gray-700">
                    <mat-icon class="z-10 icon-size-10" [svgIcon]="'mat_outline:directions_car'"></mat-icon>
                </div>
                <div class="font-medium text-center mb-2 text-xl">Vehicle Counting</div>
            </div>
            <div (click)="selectedTab=4"
                class="relative group flex flex-col items-center py-2 justify-center overflow-hidden bg-card border-r border-b even:border-r-0 hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 cursor-pointer">
                <div
                    class="relative flex shrink-0 items-center justify-center w-20 h-20 m-3 rounded-full bg-gray-100 dark:bg-gray-700">
                    <mat-icon class="z-10 icon-size-10" [svgIcon]="'mat_outline:directions_walk'"></mat-icon>
                </div>
                <div class="font-medium text-center mb-2 text-xl">People Counting</div>
            </div>
            <div (click)="selectedTab=6"
                class="relative group flex flex-col items-center py-2 justify-center overflow-hidden bg-card border-r border-b even:border-r-0 hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 cursor-pointer">
                <div
                    class="relative flex shrink-0 items-center justify-center w-20 h-20 m-3 rounded-full bg-gray-100 dark:bg-gray-700">
                    <mat-icon class="z-10 icon-size-10" [svgIcon]="'mat_outline:directions_car'"></mat-icon>
                </div>
                <div class="font-medium text-center mb-2 text-xl">License Plate Recognition</div>
            </div>
            <div (click)="selectedTab=7"
                class="relative group flex flex-col items-center py-2 justify-center overflow-hidden bg-card border-r border-b even:border-r-0 hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 cursor-pointer">
                <div
                    class="relative flex shrink-0 items-center justify-center w-20 h-20 m-3 rounded-full bg-gray-100 dark:bg-gray-700">
                    <mat-icon class="z-10 icon-size-10" [svgIcon]="'mat_outline:face'"></mat-icon>
                </div>
                <div class="font-medium text-center mb-2 text-xl">Facial Recognition</div>
            </div>
        </div>
        <scene-search *ngIf="isVideoDataLoaded && selectedTab==1"
            class="flex-auto w-full h-full relative"></scene-search>
        <video-monitoring *ngIf="isVideoDataLoaded && selectedTab==2" class="flex-auto w-full h-full relative">
        </video-monitoring>
        <vehicle-counting *ngIf="isVideoDataLoaded && selectedTab==3" class="flex-auto w-full h-full relative">
        </vehicle-counting>
        <people-counting *ngIf="isVideoDataLoaded && selectedTab==4" class="flex-auto w-full h-full relative">
        </people-counting>
        <license-plate-recognition *ngIf="isVideoDataLoaded && selectedTab==6" class="flex-auto w-full h-full relative">
        </license-plate-recognition>
        <facial-recognition *ngIf="isVideoDataLoaded && selectedTab==7" class="flex-auto w-full h-full relative">
        </facial-recognition>
        <video-ai-skeleton *ngIf="!isVideoDataLoaded && selectedTab" class="flex-auto w-full h-full">
        </video-ai-skeleton>
    </div>
    <building-summary style="transition: width 400ms ease-in" *ngIf="isEntityDimensionIndexFetched else noDimensions"
        class="flex flex-col flex-auto overflow-auto bg-white pt-2 w-[30%]"
        [oDimension_index_for_entity]="oDimension_index_for_entity" [isIntersectionPanel]="true" [oEntity]="oEntity"
        [isFloorKpiView]="false" [oSite]="oSite" (tabIndexChanedEventEmitter)="changeTab($event)"
        (dimensionChangedEventEmitter)="changeKpiDimension($event)">
    </building-summary>
    <ng-template #noDimensions>
        <building-summary-skeleton class="flex-auto overflow-hidden bg-white pt-2 w-[30%]"
            style="transition: width 400ms ease-in">
        </building-summary-skeleton>
    </ng-template>
</div>