<button mat-icon-button class="custom-background" [matMenuTriggerFor]="userActions" matTooltip="User Settings">
    <span class="relative">
        <img class="w-7 h-7 rounded-full" src="assets/images/avatars/user.png" alt="user">
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item (click)="goToProfile()">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>{{oUser_Details.FIRST_NAME}} {{oUser_Details.LAST_NAME}}</span>
    </button>
    <button mat-menu-item (click)="goToProfile()">
        <mat-icon [svgIcon]="'mat_outline:access_time'"></mat-icon>
        <span>{{TimezoneService.oCurrent_Timezone}}
            GMT{{TimezoneService.Get_Timezone_Offset(TimezoneService.oCurrent_Timezone)}}</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="resetGuide()">
        <mat-icon [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
        <span>User Guide</span>
    </button>
    <ng-container *ngIf="isSuperAdmin">
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item (click)="changeOrganization()">
            <mat-icon [svgIcon]="'heroicons_outline:library'"></mat-icon>
            <span>Change Organization</span>
        </button>
    </ng-container>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>