<div class="h-full w-full">
    <div class="flex flex-col w-full h-full p-3 bg-gray-100 shadow"
        style="border-top-right-radius: 1rem !important; border-top-left-radius: 1rem !important; justify-content: center;">
        <div class="flex items-start">
            <div class="skeleton-box" style="width: 20px; height: 20px;"></div>
            <div class="skeleton-box ml-1.5" style="width: 60%; height: 20px;">
            </div>
            <div class="skeleton-box ml-auto" style="width: 20px; height: 20px;">
            </div>
            <div class="skeleton-box ml-1" style="width: 20px; height: 20px;">
            </div>
        </div>
    </div>
</div>