<div class="flex flex-col flex-auto w-full h-full no-scrollbar select-none overflow-hidden">
    <div class="w-full px-2 mb-1" style="height: 125px; max-height: 125px;">
        <div class="flex flex-row w-full h-full pr-2">
            <div style="width: 30%;height: 100%;">
                <img draggable="false" class="object-cover w-full h-full" style="border-radius: 0.5rem;"
                    [src]="oDialog_input.properties.oClicked_Level_Location.IMAGE_URL"
                    [alt]="oDialog_input.properties.oClicked_Level_Location.NAME">
            </div>
            <div class="mx-3" style="height: 80%; align-self: center; border-right-width: 2px;"></div>
            <div class="flex flex-col flex-auto" style="width: 65%;">
                <div style="grid-column: span 3 / auto;">
                    <div class="flex flex-col mt-2">
                        <span class="text-sm text-iconColor leading-none">{{oDialog_input.properties.Current_view_type |
                            titlecase}}
                            Name</span>
                        <span
                            class="font-semibold leading-none mt-1">{{oDialog_input.properties.oClicked_Level_Location.NAME}}</span>
                    </div>
                </div>
                <div class="flex flex-col mt-2">
                    <span class="text-sm text-iconColor leading-none mb-1">Applied
                        Filters</span>
                </div>
                <ng-container *ngIf="oDialog_input.properties.oEnum_Map_View == Enum_Map_view.area && upper_level_name">
                    <div class="flex flex-wrap -mx-1 -mb-1 tag-custom-scrollbar"
                        style="overflow-y: scroll; height: 65px; width: 95%;">
                        <div
                            class="flex flex-row mx-0.5 my-0.5 py-1 px-3 h-6 rounded-full text-sm font-large bg-chartBackgroundColor items-center">
                            <div
                                style="color: var(--district-chart-color); margin-right: 1px; font-size: 26px; font-family: Arial, sans-serif; transform: translateY(1px);">
                                &#8226;</div>
                            {{upper_level_name}}
                        </div>
                        <div
                            class="flex flex-row mx-0.5 my-0.5 py-1 px-3 h-6 rounded-full text-sm font-large bg-chartBackgroundColor items-center">
                            <div [ngClass]="'area-color'"
                                style="margin-right: 1px; font-size: 26px; font-family: Arial, sans-serif; transform: translateY(1px);">
                                &#8226;</div>
                            {{oDialog_input.properties.oClicked_Level_Location.NAME}}
                        </div>
                    </div>
                </ng-container>
                <ng-container
                    *ngIf="oDialog_input.properties.oEnum_Map_View == Enum_Map_view.site  && upper_level_name && grandfather_level_name">
                    <div class="flex flex-wrap -mx-1 -mb-1 tag-custom-scrollbar"
                        style="overflow-y: scroll; height: 65px; width: 95%;">
                        <div
                            class="flex flex-row mx-0.5 my-0.5 py-1 px-3 h-6 rounded-full text-sm font-large bg-chartBackgroundColor items-center">
                            <div
                                style="color: var(--district-chart-color); margin-right: 1px; font-size: 26px; font-family: Arial, sans-serif; transform: translateY(1px);">
                                &#8226;</div>
                            {{grandfather_level_name}}
                        </div>
                        <div
                            class="flex flex-row mx-0.5 my-0.5 py-1 px-3 h-6 rounded-full text-sm font-large bg-chartBackgroundColor items-center">
                            <div
                                style="color: var(--area-chart-color); margin-right: 1px; font-size: 26px; font-family: Arial, sans-serif; transform: translateY(1px);">
                                &#8226;</div>
                            {{upper_level_name}}
                        </div>
                        <div
                            class="flex flex-row mx-0.5 my-0.5 py-1 px-3 h-6 rounded-full text-sm font-large bg-chartBackgroundColor items-center">
                            <div [ngClass]="'site-color' "
                                style="margin-right: 1px; font-size: 26px; font-family: Arial, sans-serif; transform: translateY(1px);">
                                &#8226;</div>
                            {{oDialog_input.properties.oClicked_Level_Location.NAME}}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="flex flex-row flex-auto w-full h-full justify-center gap-2 p-2" style="max-height: 86px;">
        <ng-container *ngIf="!oDialog_input.properties.isIndexValuesLoaded;else LoadedKPIs">
            <div
                class="flex flex-col items-center justify-center py-8 px-1 rounded-2xl text-secondary bg-chartBackgroundColor w-full h-full skeleton-box">
            </div>
            <div
                class="flex flex-col items-center justify-center py-8 px-1 rounded-2xl text-secondary bg-chartBackgroundColor w-full h-full skeleton-box">
            </div>
            <div
                class="flex flex-col items-center justify-center py-8 px-1 rounded-2xl text-secondary bg-chartBackgroundColor w-full h-full skeleton-box">
            </div>
            <div
                class="flex flex-col items-center justify-center py-8 px-1 rounded-2xl text-secondary bg-chartBackgroundColor w-full h-full skeleton-box">
            </div>
        </ng-container>
        <ng-template #LoadedKPIs>
            <div *ngFor="let dimension_data of oDialog_input.properties.oList_Dimension_data"
                class="flex flex-col items-center justify-center py-4 px-1 rounded-2xl text-secondary w-full h-full"
                [ngClass]="dimension_data.CssClass"
                (click)="changeKpiDimension(dimension_data.LEVEL_DIMENSION_WITH_STATUS.DIMENSION)">
                <div class="mt-1 text-sm font-medium text-center" [ngClass]="dimension_data.INDEX_COLOR">
                    {{removeFirstWord(dimension_data.LEVEL_DIMENSION_WITH_STATUS.DIMENSION.NAME)}}</div>
                <div class="text-4xl font-semibold leading-none tracking-tight" [ngClass]="dimension_data.INDEX_COLOR">
                    {{dimension_data.LEVEL_DIMENSION_WITH_STATUS.ENUM_DIMENSION_STATUS == Enum_Dimension_Status.HIDDEN?
                    '-'
                    : dimension_data.INDEX_VALUE}}
                </div>
            </div>
        </ng-template>
    </div>
    <div class="mt-1 mb-2" style="width: 80%; justify-self: center; border-bottom-width: 2px; margin-left: 10%;">
    </div>
    <div *ngIf="isChartsLoaded else chartsSkeleton" class="flex flex-col flex-auto overflow-auto no-scrollbar gap-2">
        <div *ngIf="isDimensionsHidden" class="flex flex-row flex-auto items-center justify-center text-2xl ">No KPI
            Access has been granted.
        </div>
        <ng-container *ngFor="let oKpi_data of oDialog_input.properties.oList_Kpi_data">
            <div class="flex flex-col p-3 relative w-full bg-chartBackgroundColor rounded-md overflow-hidden" [ngStyle]="{
                    'height': oKpi_data.ChartConfiguration.type === 'treemap' ? '500px' : '250px',
                    'min-height': oKpi_data.ChartConfiguration.type === 'treemap' ? '500px' : '250px',
                    'max-height': oKpi_data.ChartConfiguration.type === 'treemap' ? '500px' : '250px'
                  }">
                <div class="flex flex-row justify-between">
                    <div class="flex flex-col pb-1">
                        <div class="text-sm font-bold">
                            {{oKpi_data.CHART_TITLE}}
                        </div>
                        <div *ngIf="oKpi_data.From_Date" class="text-sm">
                            <strong>From</strong>: {{oKpi_data.From_Date}}
                        </div>
                        <div *ngIf="oKpi_data.To_Date" class="text-sm">
                            <strong>To</strong>: {{oKpi_data.To_Date}}
                        </div>
                    </div>
                    <div class="flex flex-row flex-wrap">
                        <button *ngFor=" let oAction_Button of oKpi_data.List_Action_Button"
                            [disabled]="!oKpi_data.isButtonClickable || !isButtonsEnabled"
                            (click)="Toggle_Functionality(oAction_Button)" [matTooltip]='oAction_Button.FUNCTIONALITY'
                            mat-icon-button>
                            <mat-icon class="icon-size-5 text-current self-center" [svgIcon]="oAction_Button.ICON"
                                [class.checked]="oAction_Button.IS_CHECKED"></mat-icon>
                        </button>
                    </div>
                    <button *ngIf="oKpi_data.Setting_Toggle_Button" (click)="Toggle_Chart_Configuration(oKpi_data)"
                        matTooltip='Toggle Chart Type' mat-icon-button>
                        <mat-icon class="icon-size-5 text-current self-center"
                            [svgIcon]="oKpi_data.Setting_Toggle_Button.ICON"></mat-icon>
                    </button>
                </div>
                <div class="flex flex-col flex-auto overflow-hidden">
                    <canvas *ngIf="oKpi_data.isDataAvailable else noData" class="w-full h-full" baseChart
                        [options]="oKpi_data.ChartConfiguration.options" [type]="oKpi_data.ChartConfiguration.type"
                        [plugins]="oKpi_data.ChartConfiguration.plugins" [data]="oKpi_data.ChartConfiguration.data"
                        (dblclick)="openChartModal(oKpi_data.ChartConfiguration, oKpi_data.CHART_TITLE)"></canvas>
                </div>
                <ng-template #noData>
                    <div class="flex items-center justify-center w-full h-full text-shadow-0 text-black pb-2">
                        No Data Available
                    </div>
                </ng-template>
            </div>
            <div *ngIf="oKpi_data.isDataAvailable && oKpi_data.CHART_TITLE?.toLowerCase().includes('dwell time')"
                class="flex flex-row w-full items-center">
                <mat-button-toggle-group class="w-full bottom-button-toggle" multiple>
                    <mat-button-toggle *ngFor="let label of original_dwell_time_labels; let i = index"
                        class="w-full bg-secondaryColor text-white"
                        [ngClass]="[List_Checked_Buttons[i]? 'text-gray-600' : 'bg-white']"
                        [checked]="List_Checked_Buttons[i]"
                        (change)="List_Checked_Buttons[i]=$event.source.checked; updateDwellTime(oKpi_data)">
                        {{label}}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </ng-container>
    </div>
    <ng-template #chartsSkeleton>
        <div class="flex flex-col flex-auto h-full w-full gap-2 overflow-y-auto no-scrollbar">
            <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                </smartr-card>
            </div>
            <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                </smartr-card>
            </div>
            <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                </smartr-card>
            </div>
            <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                </smartr-card>
            </div>
            <div class="w-full gap-2" style="height: 250px; min-height: 250px;">
                <smartr-card class="flex flex-row w-full h-full p-2 bg-chartBackgroundColor skeleton-box">
                </smartr-card>
            </div>
        </div>
    </ng-template>
</div>