<div class="flex flex-col flex-auto w-full h-full no-scrollbar overflow-hidden bg-white">
    <div class="flex flex-row w-full p-2 items-center">
        <div *ngIf="!isShowSettings" class="text-3xl font-semibold">
            Alerts
        </div>
        <div *ngIf="isShowSettings" class="flex items-center space-x-2 flex-wrap text-3xl font-semibold">
            <button mat-icon-button matTooltip="Go Back" (click)="isShowSettings=!isShowSettings">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'" class="text-iconColor"></mat-icon>
            </button>
            <a class="hover:text-primary cursor-pointer" (click)="isShowSettings=!isShowSettings">Alerts
            </a>
            <div>/</div>
            <div>Alert Settings</div>
        </div>
        <div class="flex flex-row ml-auto gap-4">
            <button *ngIf="!isShowSettings" mat-icon-button (click)="isShowSettings=!isShowSettings"
                matTooltip="Show Settings">
                <mat-icon svgIcon="mat_outline:settings" class="text-iconColor"></mat-icon>
            </button>
            <button mat-icon-button (click)="CloseDrawerEventEmitter.emit()" matTooltip="Close Drawer">
                <mat-icon [svgIcon]="'heroicons_outline:x'" class="text-iconColor"></mat-icon>
            </button>
        </div>
    </div>
    <ng-container *ngIf="!isShowSettings">
        <div *ngIf="oList_Alert" class="flex flex-col flex-auto overflow-auto gap-6 p-2" infinite-scroll
            (scrolled)="onScrollDown()" [scrollWindow]="false" [alwaysCallback]="true">
            <div class="flex flex-row gap-2 items-center">
                <mat-form-field class="w-full" [floatLabel]="'always'" subscriptSizing="dynamic">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:search'">
                    </mat-icon>
                    <button mat-icon-button matSuffix (click)="searchInputValue=''" matTooltip="Clear Search">
                        <mat-icon class="icon-size-7" [svgIcon]="'mat_solid:clear_all'">
                        </mat-icon>
                    </button>
                    <input matInput placeholder="Search" autocomplete="off" [(ngModel)]="searchInputValue"
                        (ngModelChange)="fixPaginatedAlerts()">
                </mat-form-field>
                <mat-form-field class="w-full" [floatLabel]="'always'" subscriptSizing="dynamic">
                    <button mat-icon-button matSuffix
                        (click)="oOrganization_data_source_kpi_with_Direction=null; sortAlerts(); $event.stopPropagation()"
                        matTooltip="Clear Kpi with Direction">
                        <mat-icon class="icon-size-7" [svgIcon]="'mat_solid:clear_all'">
                        </mat-icon>
                    </button>
                    <mat-select matInput placeholder="Search by KPI and direction" autocomplete="off"
                        [(ngModel)]="oOrganization_data_source_kpi_with_Direction" (ngModelChange)="sortAlerts()">
                        <mat-option
                            *ngFor="let organization_data_source_kpi_with_direction of oList_Organization_data_source_kpi_with_Direction"
                            [value]="organization_data_source_kpi_with_direction">
                            {{organization_data_source_kpi_with_direction.Organization_data_source_kpi.Kpi.NAME}} -
                            {{organization_data_source_kpi_with_direction.Alert_operation_Setup.VALUE}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex flex-col">
                <div matRipple
                    class="flex flex-row items-center text-2xl py-2 font-semibold w-full cursor-pointer hover:bg-gray-100 border border-gray-200 rounded-xl p-4 transition-all"
                    (click)="toggleOpenDataLevel(0);fixPaginatedAlerts()">
                    <mat-icon
                        [svgIcon]="openDataLevel==0?'heroicons_solid:chevron-down':'heroicons_solid:chevron-right'"
                        class="icon-size-6 text-gray-200"></mat-icon>
                    <div>District Alerts <span class="text-xl">- {{(oList_District_Alert | filter:
                            searchInputValue).length}}
                            Alert{{(oList_District_Alert | filter: searchInputValue).length==1?'':'s'}}</span>
                    </div>
                    <button mat-flat-button class="ml-auto"
                        (click)="acknowledgeAlertList(oList_District_Alert);$event.stopPropagation()"
                        *ngIf="showAcknowledgeAll(oList_District_Alert)">Acknowledge All</button>
                </div>
                <div [@expandableState] *ngIf="openDataLevel==0" class="flex flex-col overflow-hidden">
                    <div class="flex flex-col py-4 gap-2">
                        <div *ngFor="let alert of oList_District_Alert_To_Show | filter: searchInputValue"
                            class="flex flex-row border border-gray-200 rounded-xl p-4 gap-4 items-center">
                            <div class="w-[15%] min-w-[15%] max-w-[15%]">
                                {{alert.RECORD_DATE | date : null : TimezoneService.oCurrent_Timezone_Offset}}
                            </div>
                            <div class="flex flex-row gap-4 justify-between flex-auto items-center min-h-10">
                                <div class="text-lg">{{getKpiName(alert)}} has
                                    {{getKeyword2(alert)}} by
                                    {{alert.ALERT_VALUE | number}}% which is Over
                                    {{alert.VALUE_PASSED}}% on {{getObjectName(alert)}}</div>
                                <button mat-flat-button *ngIf="!alert.IS_ACKNOWLEDGED"
                                    (click)="acknowledgeAlert(alert)">
                                    <mat-icon svgIcon="mat_solid:check"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="(oList_District_Alert | filter: searchInputValue).length==0" class="text-lg">There
                            are no district alerts</div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div matRipple
                    class="flex flex-row items-center text-2xl py-2 font-semibold w-full cursor-pointer hover:bg-gray-100 border border-gray-200 rounded-xl p-4 transition-all"
                    (click)="toggleOpenDataLevel(1);fixPaginatedAlerts()">
                    <mat-icon
                        [svgIcon]="openDataLevel==1?'heroicons_solid:chevron-down':'heroicons_solid:chevron-right'"
                        class="icon-size-6 text-gray-200"></mat-icon>
                    <div>Area Alerts <span class="text-xl">- {{(oList_Area_Alert | filter:
                            searchInputValue).length}}
                            Alert{{(oList_Area_Alert | filter: searchInputValue).length==1?'':'s'}}</span>
                    </div>
                    <button mat-flat-button class="ml-auto"
                        (click)="acknowledgeAlertList(oList_Area_Alert);$event.stopPropagation()"
                        *ngIf="showAcknowledgeAll(oList_Area_Alert)">Acknowledge All</button>
                </div>
                <div [@expandableState] *ngIf="openDataLevel==1" class="flex flex-col overflow-hidden">
                    <div class="flex flex-col py-4 gap-2">
                        <div *ngFor="let alert of oList_Area_Alert_To_Show | filter: searchInputValue"
                            class="flex flex-row border border-gray-200 rounded-xl p-4 gap-4 items-center">
                            <div class="w-[15%] min-w-[15%] max-w-[15%]">
                                {{alert.RECORD_DATE | date : null : TimezoneService.oCurrent_Timezone_Offset}}
                            </div>
                            <div class="flex flex-row gap-4 justify-between flex-auto items-center min-h-10">
                                <div class="text-lg">{{getKpiName(alert)}} has
                                    {{getKeyword2(alert)}} by
                                    {{alert.ALERT_VALUE | number}}% which is Over
                                    {{alert.VALUE_PASSED}}% on {{getObjectName(alert)}}</div>
                                <button mat-flat-button *ngIf="!alert.IS_ACKNOWLEDGED"
                                    (click)="acknowledgeAlert(alert)">
                                    <mat-icon svgIcon="mat_solid:check"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="(oList_Area_Alert | filter: searchInputValue).length==0" class="text-lg">
                            There are
                            no area alerts</div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div matRipple
                    class="flex flex-row items-center text-2xl py-2 font-semibold w-full cursor-pointer hover:bg-gray-100 border border-gray-200 rounded-xl p-4 transition-all"
                    (click)="toggleOpenDataLevel(2);fixPaginatedAlerts()">
                    <mat-icon
                        [svgIcon]="openDataLevel==2?'heroicons_solid:chevron-down':'heroicons_solid:chevron-right'"
                        class="icon-size-6 text-gray-200"></mat-icon>
                    <div>Site Alerts <span class="text-xl">- {{(oList_Site_Alert | filter:
                            searchInputValue).length}}
                            Alert{{(oList_Site_Alert | filter: searchInputValue).length==1?'':'s'}}</span>
                    </div>
                    <button mat-flat-button class="ml-auto"
                        (click)="acknowledgeAlertList(oList_Site_Alert);$event.stopPropagation()"
                        *ngIf="showAcknowledgeAll(oList_Site_Alert)">Acknowledge All</button>
                </div>
                <div [@expandableState] *ngIf="openDataLevel==2" class="flex flex-col overflow-hidden">
                    <div class="flex flex-col py-4 gap-2">
                        <div *ngFor="let alert of oList_Site_Alert_To_Show | filter: searchInputValue"
                            class="flex flex-row border border-gray-200 rounded-xl p-4 gap-4 items-center">
                            <div class="w-[15%] min-w-[15%] max-w-[15%]">
                                {{alert.RECORD_DATE | date : null : TimezoneService.oCurrent_Timezone_Offset}}
                            </div>
                            <div class="flex flex-row gap-4 justify-between flex-auto items-center min-h-10">
                                <div class="text-lg">{{getKpiName(alert)}} has
                                    {{getKeyword2(alert)}} by
                                    {{alert.ALERT_VALUE | number}}% which is Over
                                    {{alert.VALUE_PASSED}}% on {{getObjectName(alert)}}</div>
                                <button mat-flat-button *ngIf="!alert.IS_ACKNOWLEDGED"
                                    (click)="acknowledgeAlert(alert)">
                                    <mat-icon svgIcon="mat_solid:check"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="(oList_Site_Alert | filter: searchInputValue).length==0" class="text-lg">
                            There are
                            no site alerts</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loader-container" *ngIf="!oList_Alert">
            <div class="loader"></div>
        </div>
    </ng-container>

    <div *ngIf="isShowSettings && oList_Alert_settings?.length==0"
        class="flex flex-col flex-auto p-2 pb-6 overflow-auto items-center justify-center text-2xl">
        No kpi access has been granted
    </div>
    <div *ngIf="isShowSettings && oList_Alert_settings?.length>0"
        class="flex flex-col flex-auto p-2 pb-6 overflow-auto">
        <form #alertSettingsForm="ngForm" class="flex flex-col gap-4">
            <div class="flex flex-col border border-gray-200 rounded-xl p-4"
                *ngFor="let alert_settings of oList_Alert_settings; let i = index">
                <div class="flex flex-row gap-2 items-end">
                    <div class="flex flex-col w-full gap-1.5 mb-4">
                        <mat-label class="text-[0.875rem] leading-[1.28571]">Alert Type
                        </mat-label>
                        <div
                            class="flex flex-row h-12 min-h-12 max-h-12 w-full items-center border border-gray-300 px-4 rounded-md overflow-hidden">
                            <div class="flex-auto py-3.5">{{alert_settings.Kpi.NAME}}</div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full gap-1.5 mb-4">
                        <mat-label class="text-[0.875rem] leading-[1.28571]">Alert Direction
                        </mat-label>
                        <div
                            class="flex flex-row h-12 min-h-12 max-h-12 w-full items-center border border-gray-300 px-4 rounded-md overflow-hidden">
                            <div class="flex-auto py-3.5">{{alert_settings.Operation_setup.VALUE}}</div>
                        </div>
                    </div>
                    <mat-checkbox class="gt-xs:pr-3 px-2 flex align-center w-full mb-4"
                        style="border-radius: 6px; border-width: 1px; border-color: #cbd5e1; height: 48px;"
                        labelPosition="before" [(ngModel)]="alert_settings.IS_ACTIVE" name="IS_ACTIVE{{i}}">
                        &nbsp;Active
                    </mat-checkbox>
                </div>
                <div class="flex flex-row gap-2">
                    <div class="flex flex-col w-full gap-1.5 mb-4">
                        <div
                            class="flex flex-row h-12 min-h-12 max-h-12 w-full items-center border border-gray-300 px-4 rounded-md overflow-hidden">
                            <div class="flex-auto py-3.5">{{alert_settings.Value_type_setup.VALUE}}</div>
                        </div>
                    </div>
                    <mat-form-field class="w-full smartr-mat-emphasized-suffix" [floatLabel]="'always'">
                        <div matSuffix>%</div>
                        <input matInput type="number" placeholder="Value" autocomplete="off" min="0"
                            [(ngModel)]="alert_settings.VALUE" name="VALUE{{i}}" decimalsOnly required>
                        <mat-error>Value is Required</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div class="mt-4 mb-6 border-t"></div>

        <div class="flex items-center justify-end -mb-2">
            <button mat-stroked-button type="button" (click)="resetAlertSettings(alertSettingsForm)"
                [disabled]="isLoading || alertSettingsForm.pristine">Reset
            </button>

            <button class="ml-4 w-40" mat-flat-button type="button" (click)="editAlertSettings(alertSettingsForm)"
                [disabled]="isLoading || alertSettingsForm.pristine || alertSettingsForm.invalid">
                <span *ngIf="!isLoading">Save Changes</span>
                <mat-progress-spinner *ngIf="isLoading" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </div>
</div>
