:host ::ng-deep .mat-mdc-checkbox {
    .mdc-form-field--align-end>label {
        margin-left: 0 !important;
        width: 100%;
    }

    .mdc-form-field {
        width: 100%;
        justify-content: space-between;
        align-items: center;


        .mdc-checkbox {

            .mdc-checkbox__background,
            .mat-mdc-checkbox-background {
                border-radius: 70% !important;
                border-color: black;
            }
        }
    }
}