<div class="flex flex-col flex-auto w-full h-full no-scrollbar select-none overflow-hidden">
    <div class="flex flex-row w-full items-center">
        <label class="text-2xl font-semibold">{{_Dialog_input.properties.oClicked_Level_Location.NAME}}</label>
        <div class="flex flex-row ml-auto gap-4">
            <button mat-icon-button [disabled]="!isChartsLoaded" (click)="Unpin_Modal()" matTooltip="Unpin Panel">
                <mat-icon style="transform: rotate(180deg) scaleX(-1);" svgIcon="mat_outline:pin_end"
                    class="text-iconColor">
                </mat-icon>
            </button>
            <button mat-icon-button (click)="Close_Drawer()" matTooltip="Close Drawer">
                <mat-icon svgIcon="heroicons_outline:x" class="text-iconColor"></mat-icon>
            </button>
        </div>
    </div>
    <level-kpi-charts class="flex flex-col flex-auto overflow-hidden " [oDialog_input]="_Dialog_input"
        (isChartsLoadedChange)="onChartsLoadedChange($event)"></level-kpi-charts>
</div>