<div mat-dialog-title class="flex flex-row items-center">
    <label class="text-2xl font-semibold">{{oCorrelation_method.NAME}}</label>
    <button class="ml-auto" mat-icon-button mat-dialog-close>
        <mat-icon [svgIcon]="'heroicons_outline:x'" class="text-iconColor"></mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="modal-content">
        <p>{{ oCorrelation_method.DESCRIPTION }}</p>
    </div>
    <img [src]="oCorrelation_method.EQUATION_URL" [alt]="oCorrelation_method.NAME">
</div>