.changePicture {
    transition: 0.3s ease;
    opacity: 0;
}

.changePicture:hover {
    opacity: 1;
}

.screenshot {
    position: absolute;
    color: #C97E18 !important;
    z-index: 80;
    top: 5px;
    left: 5px;
    cursor: pointer;
}


::ng-deep {
    .custom-slider {
        height: 140px;
    }

    .custom-slider .ngx-slider .ngx-slider-bar {
        background: rgb(218, 198, 198);
    }

    .custom-slider .ngx-slider .ngx-slider-pointer {
        background-color: darkslategrey;
        width: 20px;
        height: 20px;
        margin-left: 6px;
    }

    .custom-slider .ngx-slider .ngx-slider-pointer:hover {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }


    .custom-slider .ngx-slider .ngx-slider-pointer:after {
        display: none;
    }
}