<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="SCHEDULING_METHOD" value="HostedService" />
        <add key="BUSINESSES_CRON_TIME" value="0 2 * * *" />
        <add key="PUBLIC_EVENTS_CRON_TIME" value="0 1 * * *" />
        <add key="DATA_CREATION_CRON_TIME" value="0 * * * *" />
        <add key="IS_SEND_EMAIL_ON_CRON_EXCEPTION" value="1" />
        <add key="IS_SEND_EMAIL_ON_CRONJOB_START" value="0" />
        <add key="BYLAW_COMPLAINTS_CRON_TIME" value="0 0 * * *" />
        <add key="API_GATEWAY_URL" value="http://districtnex-api-gateway" />
        <add key="TELUS_API_DATA_1_CRON_TIME" value="0,5,10,15,20,25 4 * * *" />
        <add key="TELUS_API_DATA_2_CRON_TIME" value="30,35,40,45,50,55 4 * * *" />
    </appSettings>
</configuration>