<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ENABLE_TICKET" value="1" />
        <add key="IS_DEBUG_MODE" value="1" />
        <add key="CACHING_ENABLED" value="0" />
        <add key="ENABLE_MONITORING" value="0" />
        <add key="BLC_MESSAGES" value="./Messages.xml" />
        <add key="MONGODB_DATABASE_NAME" value="DistrictNex_Logs" />
        <add key="ASSETS_EXCEL_REPORT_PATH" value="Excel_Reports" />
        <add key="API_GATEWAY_URL" value="http://districtnex-api-gateway" />
        <add key="CONN_STR" value="districtnex-dev-sqlserver-instance-connection-string" />
        <add key="MONGODB_CONN_STR" value="districtnex-dev-mongodb-instance-connection-string" />
        <add key="ASSETS_ENDPOINT" value="https://dev.api.picacity.ai/Api/FileManagement/Files" />
    </appSettings>
</configuration>