<div class="h-full w-full">
    <div class="flex flex-col w-full h-full p-3 rounded-2xl bg-gray-100 shadow">
        <div class="flex items-start">
            <div class="skeleton-box" style="width: 20px; height: 20px;"></div>
            <div class="skeleton-box ml-1.5" style="width: 60%; height: 20px;"></div>
        </div>
        <div class="flex items-center h-full pt-2">
            <div class="flex flex-col h-full">
                <div class="mt-1 text-s font-medium text-center mb-2">
                    <div class="skeleton-box h-full" style="width: 50px;"></div>
                </div>
                <div class="pb-3 text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                    <div class="skeleton-box w-full h-full"></div>
                </div>
            </div>
            <div class="flex flex-col flex-auto ml-2 h-full" style="overflow: hidden;">
                <div class="skeleton-box w-full" style="height: 82.8px;"></div>
            </div>
        </div>
    </div>
</div>
