<div class="absolute inset-0 flex flex-col w-full h-full disable-select"
    [ngClass]="isEntityDrawerOpen?'page-to-print':''">
    <div *ngIf="!isSelectionComplete"
        class="absolute right-0 flex flex-auto overflow-hidden z-[1000] w-full h-full bg-black bg-opacity-60"
        style="transition: width 400ms">
        <div class="flex flex-col flex-auto p-4">
            <div class="flex flex-row items-center text-3xl font-semibold text-whiteColor">
                <button [style.pointer-events]="isOrganizationVisible ? 'none' : 'auto'" (click)="goBack()" class="mr-2"
                    mat-icon-button>
                    <mat-icon svgIcon={{iconRef}} class="text-white icon-size-6"></mat-icon>
                </button>
                <span class="select-none">
                    Select {{ isOrganizationVisible ? 'Organization': 'Top Level'}}
                </span>
            </div>
            <div [@slideInLeft] *ngIf="isOrganizationVisible"
                class="flex flex-row flex-auto items-center justify-center flex-wrap gap-4 overflow-y-auto -mx-4">
                <div *ngFor="let Organization_Data of oList_Organization_Data"
                    (click)="selectOrganization(Organization_Data.ORGANIZATION_ID)"
                    class="flex flex-col items-center justify-center w-90 max-w-90 rounded-xl shadow-xl border overflow-hidden cursor-pointer bg-white p-8 max-h-40 min-h-40 h-40">
                    <img class="w-full" [src]="Organization_Data.DARK_RECTANGLE_LOGO_URL??'fallback image url'"
                        (error)="Organization_Data.DARK_RECTANGLE_LOGO_URL = null">
                </div>

            </div>
            <div [@slideInRight] *ngIf="!isOrganizationVisible"
                class="flex flex-row flex-auto items-center justify-center flex-wrap gap-4 overflow-y-auto -mx-4">
                <div *ngFor="let Top_level_Data of oList_Organization_Top_level_Data"
                    (click)="Go_To_Initial_Top_Level(Top_level_Data.TOP_LEVEL_ID)"
                    class="flex flex-col w-90 max-w-90 items-center justify-center rounded-xl shadow-xl border overflow-hidden cursor-pointer bg-white">
                    <img class="max-h-44 h-44 w-full" [src]="Top_level_Data.IMAGE_URL">
                    <div class="flex flex-row justify-between items-center p-4">
                        <div>{{Top_level_Data.TOP_LEVEL_NAME}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isSelectionComplete && isSpinEnabled" class="organization-picker">
        <div class="spinner">
            <div class="bounce1 bg-white"></div>
            <div class="bounce2 bg-white"></div>
            <div class="bounce3 bg-white"></div>
        </div>
    </div>
    <div id="map"></div>

    <div class="absolute top-4 right-16 flex flex-row gap-4 z-20" *ngIf="oEnum_Map_view == Enum_Map_view.entity"
        [bdcWalkTriggerFor]="mapPopup1"></div>

    <div *ngIf="isSelectionComplete" class="absolute top-4 left-4 flex flex-row gap-4 z-20">
        <bdc-walk-dialog #introModal name="introModal" width="200">
            <div class="flex flex-col flex-auto justify-center items-center">
                <img class="w-72 mb-4" [src]="popupLogoUrl" (error)="changeImage()">
                <div class="font-bold text-2xl text-center mb-8">
                    Welcome to DistrictNex
                </div>

                <button (click)="introModal.close()" class="mb-2" mat-raised-button color="primary">Start
                    Discovering</button>
                <button (click)="skipTutorial()" mat-stroked-button>Skip Journey</button>
            </div>
        </bdc-walk-dialog>
        <div *ngIf="isMapLoaded && !isMapTransitioning && isGlobalFilterVisible"
            class="flex flex-col bg-white overflow-y-hidden min-h-12" style="box-shadow: 0 1px 4px rgb(0 0 0 / 30%);"
            [ngClass]="isFilterPanelOpen?'rounded-lg w-100':'rounded-md'" [style.maxHeight.px]="getFiltersHeight()"
            (mouseenter)="isFilterPanelOpen=true" (mouseleave)="isFilterPanelOpen=isPersistFilterPanelOpen||false">
            <div *ngIf="!isFilterPanelOpen" class="flex flex-row flex-auto items-center gap-4 px-4">
                <mat-icon svgIcon="heroicons_outline:filter" class="text-iconColor icon-size-6"></mat-icon>
                <div>{{oSelected_Preset_time.NAME}}</div>
            </div>
            <div *ngIf="isFilterPanelOpen" class="relative flex flex-col flex-auto p-4 pb-5 overflow-hidden">
                <div class="flex flex-row items-center justify-between">
                    <div class="font-semibold text-lg">Global Filter</div>
                    <button mat-icon-button (click)="toggleFilterPanelPin()">
                        <mat-icon *ngIf="isPersistFilterPanelOpen" class="text-smallTextColor"
                            svgIcon="mat_solid:push_pin" style="transform: scale(0.7);">
                        </mat-icon>
                        <mat-icon *ngIf="!isPersistFilterPanelOpen" class="text-smallTextColor"
                            svgIcon="mat_outline:push_pin" style="transform: rotate(45deg) scale(0.7);">
                        </mat-icon>
                    </button>
                </div>
                <div class="flex flex-row justify-between items-end mb-1 mt-2">
                    <div class="font-semibold text-md">Filter By</div>
                    <div class="italic">{{oStart_Date_Filter | date}}
                        - {{oEnd_Date_Filter | date}}</div>
                </div>
                <div class="flex flex-row items-center">
                    <mat-button-toggle-group class="grid grid-cols-2 bottom-button-toggle gap-1"
                        [(ngModel)]="oSelected_Preset_time" (change)="fetchData(true)">
                        <mat-button-toggle *ngFor="let preset_time of oList_Preset_time" [value]="preset_time"
                            [ngClass]="[oSelected_Preset_time==preset_time ? 'bg-secondaryColor' : '',oSelected_Preset_time==preset_time && isDark?'text-white': '']">
                            {{preset_time.NAME}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="font-semibold mt-4 mb-1 text-md">Aggregate By</div>
                <div class="flex flex-row items-center">
                    <mat-button-toggle-group class="grid grid-cols-2 bottom-button-toggle gap-1"
                        [(ngModel)]="oEnum_Timespan_Filter" (change)="fetchData()">
                        <mat-button-toggle *ngFor="let enum_timespan of oList_Enum_Timespan" [value]="enum_timespan"
                            [disabled]="isEnumCollectionDisabled(enum_timespan)"
                            [ngClass]="[oEnum_Timespan_Filter==enum_timespan ? 'bg-secondaryColor' : '',oEnum_Timespan_Filter==enum_timespan && isDark?'text-white': '']">
                            {{getEnumCollectionValue(enum_timespan)}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="flex flex-col gap-4 overflow-y-auto mt-4">
                    <!-- Visitor Heatmap Legend -->
                    <div *ngIf="isVisitorHeatmapVisible && isVisitorDataFetched" class="flex flex-col gap-2">
                        <div class="font-semibold text-md">
                            Visitor Heatmap Legend
                        </div>
                        <div class="flex flex-row text-md items-center gap-2">
                            <div class="border border-black rounded-full"
                                style="background-color: red; width: 20px; height:20px">
                            </div>
                            <div>{{max_number_of_visitors*2/3 | number : '1.0-0'}} &lt; Visitors &lt;
                                {{max_number_of_visitors}}
                            </div>
                        </div>
                        <div class="flex flex-row text-md items-center gap-2">
                            <div class="border border-black rounded-full"
                                style="background-color: yellow; width: 20px; height:20px">
                            </div>
                            <div>{{max_number_of_visitors/3 | number : '1.0-0'}} &lt; Visitors &lt;
                                {{max_number_of_visitors*2/3 | number : '1.0-0'}}</div>
                        </div>
                        <div class="flex flex-row text-md items-center gap-2">
                            <div class="border border-black rounded-full"
                                style="background-color: green; width: 20px; height:20px">
                            </div>
                            <div>0 &lt; Visitors &lt; {{max_number_of_visitors/3 | number : '1.0-0'}}</div>
                        </div>
                    </div>
                    <!-- Businesses Legend -->
                    <div *ngIf="isBusinessPinsVisible" class="flex flex-col gap-2">
                        <div *ngIf="isVisitorHeatmapVisible" class="border border-gray-300 my-2 mr-2">
                        </div>
                        <div class="font-semibold text-md">
                            Businesses Legend
                        </div>
                        <div *ngFor="let niche_categories of oList_Niche_categories"
                            class="flex flex-row text-md items-center gap-2">
                            <div class="border border-black rounded-full" style="width: 20px; height:20px"
                                [style.background-color]="niche_categories.NICHE_COLOR">
                            </div>
                            <div>{{niche_categories.BUSINESS_NICHE}}</div>
                        </div>
                        <div class="flex flex-row text-md items-center gap-2">
                            <div class="border border-black rounded-full"
                                style="background-color: #8746c9; width: 20px; height:20px">
                            </div>
                            <div>Miscellaneous</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="hovered_Id != null && hovered_Name!= null"
            class="flex flex-col justify-center bg-card rounded-md px-4 h-12"
            style="box-shadow: 0 1px 4px rgb(0 0 0 / 30%);">
            {{hovered_Name}}
        </div>
    </div>

    <top-level-selector [@slideInOut] *ngIf="isTopLevelSelectorOpen"
        class="absolute right-0 flex flex-auto overflow-hidden z-[1001] w-full h-full bg-white bg-opacity-90"
        style="transition: width 400ms" (closeTopLevelEventEmitter)="isTopLevelSelectorOpen=false">
    </top-level-selector>

    <!--Legends outside the global filter-->
    <ng-container *ngIf="!isFilterPanelOpen">
        <!--Visitor Heatmap-->
        <div class="absolute z-99999 top-20 left-4 flex flex-col gap-4">
            <div *ngIf="isVisitorHeatmapVisible && isVisitorDataFetched"
                class="flex flex-col gap-2 bg-card rounded-md p-4">
                <div class="font-semibold leading-tight text-smallTextColor">
                    Visitor Heatmap Legend
                </div>
                <div class="flex flex-row text-md items-center gap-2">
                    <div class="border border-black rounded-full"
                        style="background-color: red; width: 20px; height:20px">
                    </div>
                    <div>{{max_number_of_visitors*2/3 | number : '1.0-0'}} &lt; Visitors &lt; {{max_number_of_visitors}}
                    </div>
                </div>
                <div class="flex flex-row text-md items-center gap-2">
                    <div class="border border-black rounded-full"
                        style="background-color: yellow; width: 20px; height:20px">
                    </div>
                    <div>{{max_number_of_visitors/3 | number : '1.0-0'}} &lt; Visitors &lt;
                        {{max_number_of_visitors*2/3 | number : '1.0-0'}}</div>
                </div>
                <div class="flex flex-row text-md items-center gap-2">
                    <div class="border border-black rounded-full"
                        style="background-color: green; width: 20px; height:20px">
                    </div>
                    <div>0 &lt; Visitors &lt; {{max_number_of_visitors/3 | number : '1.0-0'}}</div>
                </div>
            </div>
            <!--Business Legend-->
            <div *ngIf="isBusinessPinsVisible" class="flex flex-col gap-2 bg-card rounded-md p-4">
                <div class="font-semibold leading-tight text-smallTextColor">
                    Businesses Legend
                </div>
                <div *ngFor="let niche_categories of oList_Niche_categories"
                    class="flex flex-row text-md items-center gap-2">
                    <div class="border border-black rounded-full" style="width: 20px; height:20px"
                        [style.background-color]="niche_categories.NICHE_COLOR">
                    </div>
                    <div>{{niche_categories.BUSINESS_NICHE}}</div>
                </div>
                <div class="flex flex-row text-md items-center gap-2">
                    <div class="border border-black rounded-full"
                        style="background-color: #8746c9; width: 20px; height:20px">
                    </div>
                    <div>Miscellaneous</div>
                </div>
            </div>
        </div>
    </ng-container>

    <level-kpi-drawer [@slideInOut] *ngIf="isLevelDialogDrawerOpen" (CloseDrawerEventEmitter)="Close_Drawer($event)"
        (UnpinModalEventEmitter)="Unpin_Modal($event)" [style.height.px]="getHeight()"
        class="absolute z-99 bg-white w-2/5 p-4 right-0 flex flex-col overflow-hidden"
        [oDialog_input]="oDialog_input"></level-kpi-drawer>

    <entity-drawer [@slideInOut] *ngIf="isEntityDrawerOpen" [oEntity_Dialog_input]="oEntity_Dialog_Input"
        [isEntitySummaryDrawerVisible]="isEntitySummaryDrawerVisible"
        class="absolute right-0 flex flex-auto overflow-hidden z-20 w-full"
        (CloseDrawerEventEmitter)="Close_Entity_Drawer($event)" [style.height.px]="getHeight()"
        (UnpinEntityModalEventEmitter)="Unpin_Entity_Drawer($event)"></entity-drawer>

    <energy-insights-panel [@slideInOut] *ngIf="isEnergyInsightPanelOpen"
        style="position: absolute; right: 0; overflow: hidden; z-index: 99; transition: width 400ms;"
        [style.height.px]="getHeight()" (closeClickEventEmitter)="isEnergyInsightPanelOpen = false"
        class="bg-white w-1/2">
    </energy-insights-panel>

    <expanded-floor-renderer [@slideInOut] *ngIf="isExpandedFloorRendererVisible" [@slideInOut]
        style="position: absolute; right: 0; overflow: hidden; z-index: 99; transition: width 400ms;"
        [style.height.px]="getHeight()" [oFloor]="oFloor" [oEntity]="oCurrent_Entity"
        [isChangingFloor]="isChangingFloor" (closeClickEventEmitter)="isExpandedFloorRendererVisible = false"
        class="flex flex-col flex-auto w-[55%] overflow-hidden  bg-white"></expanded-floor-renderer>

    <scene-details [@slideInOut] *ngIf="isSceneDetailsVisible" [sceneModalData]="oScene_Modal_Details"
        (closeClickEventEmitter)="isSceneDetailsVisible = false"
        style="position: absolute; right: 0; overflow: hidden; z-index: 100; transition: width 400ms;"
        [style.height.px]="getHeight()" class="bg-white w-[55%]"></scene-details>

    <video-ai-drawer [@slideInOut] *ngIf="isVideoAIDrawerVisible" [isVideoDataLoaded]="isVideoDataLoaded"
        [oEntity]="oCurrent_Entity" (closeClickEventEmitter)="isVideoAIDrawerVisible = false"
        style="position: absolute; right: 0; overflow: hidden; z-index: 99; transition: width 400ms;"
        class="bg-white w-[55%] flex flex-col flex-auto" [style.height.px]="getHeight()"></video-ai-drawer>

    <entity-summary-drawer [@slideInOut]
        style="position: absolute; right: 0; overflow: hidden; z-index: 99; transition: width 400ms;"
        *ngIf="isEntitySummaryDrawerVisible" (closeClickEventEmitter)="isEntitySummaryDrawerVisible = false"
        [oEntity]="oCurrent_Entity" class="bg-white w-[55%] flex flex-col flex-auto"
        [oDimension_index_for_entity]="oDimension_index_for_entity"
        [style.height.px]="getHeight()"></entity-summary-drawer>

    <insights-drawer [@slideInOut] *ngIf="isInsightsDrawerOpen"
        class="absolute right-0 flex flex-auto overflow-hidden z-20 w-4/5 bg-white" [oDistrict]="oCurrent_District"
        (closeClickEventEmitter)="Close_Insights_Drawer()" [style.height.px]="getHeight()"></insights-drawer>

    <intersection-drawer [@slideInOut] *ngIf="isIntersectionDrawerOpen"
        class="absolute right-0 flex flex-col flex-auto overflow-hidden z-20 w-full bg-white"
        [oEntity]="oIntersection_Entity" (closeIntersectionPanelEventEmitter)="isIntersectionDrawerOpen = false"
        [oList_intersection]="oList_Intersection" [style.height.px]="getHeight()"></intersection-drawer>

    <alerts-drawer [@slideInOut] *ngIf="isAlertsDrawerOpen"
        class="absolute right-0 flex flex-auto overflow-hidden z-20 w-1/2 bg-white"
        (CloseDrawerEventEmitter)="Close_Alerts_Drawer()" [style.height.px]="getHeight()"></alerts-drawer>

    <bottom-bar [@slideUp] *ngIf="isMapLoaded && !isMapTransitioning && isBottomBarVisible" id="bottom-bar"
        [view_type]="view_type" [drawerWidth]="drawerWidth" [oSelected_District]="oCurrent_District"
        [oSelected_Site]="oCurrent_Site" [oSelected_Area]="oCurrent_Area" [oSelected_Entity]="oCurrent_Entity"
        [oTop_level]="oCurrent_Top_level" [isButtonsVisible]="!isEntityDrawerOpen && !isIntersectionDrawerOpen"
        [isSwitchStyleDisabled]="isSwitchStyleDisabled"
        [isShowToggleButtons]="!isIntersectionDrawerOpen && !isEntityDrawerOpen"
        (openDialogEventEmitter)="closeOpenPanels()" class="bar">
    </bottom-bar>
</div>

<bdc-walk-popup #mapPopup1 name="mapPopup1" [mustCompleted]="{introModal:true}" [showCloseButton]="true"
    [arrow]="false">Try clicking on an entity.</bdc-walk-popup>