<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="SCHEDULING_METHOD" value="HostedService" />
        <add key="API_GATEWAY_URL" value="http://districtnex-api-gateway" />
        <add key="VIDEO_AI_ENGINE_MANAGEMENT_CRON_TIME" value="0 */12 * * *" />
        <add key="REALTIME_SERVER_URL" value="http://districtnex-signalr-realtime-server" />
    </appSettings>
</configuration>