<div class="flex flex-col flex-auto h-full w-full">
    <div class="bg-card pb-4 border-b space-y-2">
        <div class="flex flex-row flex-wrap pt-4 px-4 gap-2">
            <mat-form-field class="flex-auto smartr-mat-emphasized-affix" subscriptSizing="dynamic"
                [floatLabel]="'always'">
                <div class="text-secondary" matPrefix>
                    Start Date & Time
                </div>
                <input matInput [ngxMatDatetimePicker]="startDatePicker"
                    (click)="startDatePicker._selected=startDate;startDatePicker.open()" [(ngModel)]="startDate"
                    [placeholder]="'Start Date'" (ngModelChange)="searchLicensePlateRecognition()" (keydown)="false"
                    autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="$any(startDatePicker)">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startDatePicker [showSeconds]="false"></ngx-mat-datetime-picker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-auto smartr-mat-emphasized-affix" subscriptSizing="dynamic"
                [floatLabel]="'always'">
                <div class="text-secondary" matPrefix>
                    End Date & Time
                </div>
                <input matInput [ngxMatDatetimePicker]="endDatePicker"
                    (click)="endDatePicker._selected=endDate;endDatePicker.open()" [(ngModel)]="endDate"
                    [placeholder]="'End Date'" (ngModelChange)="searchLicensePlateRecognition()" (keydown)="false"
                    autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="$any(endDatePicker)">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endDatePicker [showSeconds]="false"></ngx-mat-datetime-picker>
            </mat-form-field>
        </div>
        <div *ngIf="oEntity" class="flex flex-row flex-auto gap-2 px-4">
            <mat-form-field class="flex-auto smartr-mat-emphasized-affix" subscriptSizing="dynamic">
                <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                    <mat-icon svgIcon="mat_outline:layers"></mat-icon>
                </div>
                <mat-chip-grid #floorChipList>
                    <mat-chip *ngFor="let floor of oList_Selected_Floor" (removed)="removeFloorChoice(floor)">
                        {{floor.NAME}}
                        <button matChipRemove>
                            <mat-icon class="icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:x-circle'">
                            </mat-icon>
                        </button>
                    </mat-chip>
                    <input [placeholder]="'Add a Floor'" #addCategorySearch [(ngModel)]="floorSearchInput"
                        [matChipInputFor]="floorChipList" [matAutocomplete]="FloorAutoComplete">
                    <mat-autocomplete #FloorAutoComplete="matAutocomplete"
                        (optionSelected)="addFloorChoice($event.option.value); addCategorySearch.blur(); addCategorySearch.value=''">
                        <mat-option *ngFor="let option of filter_Floors()" [value]="option">
                            <label>{{option.NAME}}</label>
                        </mat-option>
                    </mat-autocomplete>
                </mat-chip-grid>
            </mat-form-field>
            <mat-form-field class="flex-auto smartr-mat-emphasized-affix" subscriptSizing="dynamic">
                <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                    <mat-icon svgIcon="mat_outline:space_dashboard"></mat-icon>
                </div>
                <mat-chip-grid #spaceChipList>
                    <mat-chip *ngFor="let space of oList_Selected_Space" (removed)="removeSpaceChoice(space)">
                        {{space.NAME}}
                        <button matChipRemove>
                            <mat-icon class="icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:x-circle'">
                            </mat-icon>
                        </button>
                    </mat-chip>
                    <input [placeholder]="'Add a Space'" #addCategorySearch [(ngModel)]="spaceSearchInput"
                        [matChipInputFor]="spaceChipList" [matAutocomplete]="SpaceAutoComplete">
                    <mat-autocomplete #SpaceAutoComplete="matAutocomplete"
                        (optionSelected)="addSpaceChoice($event.option.value); addCategorySearch.blur(); addCategorySearch.value=''">
                        <mat-option *ngFor="let option of filter_Spaces()" [value]="option">
                            <label>{{option.NAME}}</label>
                        </mat-option>
                    </mat-autocomplete>
                </mat-chip-grid>
            </mat-form-field>
        </div>
        <div class="flex flex-col justify-between px-4">
            <div class="flex items-center">
                <div class="flex-auto flex flex-col">
                    <mat-form-field class="flex-auto smartr-mat-emphasized-prefix" subscriptSizing="dynamic">
                        <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                            <mat-icon *ngIf="!isSearching" svgIcon="heroicons_outline:video-camera"></mat-icon>
                            <mat-progress-spinner *ngIf="isSearching" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </div>
                        <mat-progress-spinner *ngIf="numberOfRequests.length>0" matSuffix [diameter]="24"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-chip-grid #chipList01>
                            <mat-chip *ngFor="let chosenCamera of oList_Selected_Video_ai_asset"
                                (removed)="removeCameraChoice(chosenCamera)">
                                {{chosenCamera.FRIENDLY_NAME}}
                                <button matChipRemove>
                                    <mat-icon class="icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:x-circle'">
                                    </mat-icon>
                                </button>
                            </mat-chip>
                            <input [placeholder]="'Add a Camera'" #addCategorySearch [(ngModel)]="cameraSearchInput"
                                [matChipInputFor]="chipList01" [matAutocomplete]="CameraAutoComplete">
                            <mat-autocomplete #CameraAutoComplete="matAutocomplete"
                                (optionSelected)="addCameraChoice($event.option.value); addCategorySearch.blur(); addCategorySearch.value=''">
                                <mat-option *ngFor="let option of filter_Cameras()" [value]="option">
                                    <label>{{option.FRIENDLY_NAME}}</label>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-chip-grid>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-between px-4">
            <div class="flex items-center">
                <div class="flex-auto flex flex-row gap-4">
                    <mat-form-field class="flex-auto smartr-mat-emphasized-prefix" subscriptSizing="dynamic">
                        <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                            <mat-icon *ngIf="!isSearching" svgIcon="mat_outline:directions_car"></mat-icon>
                            <mat-progress-spinner *ngIf="isSearching" matSuffix [diameter]="24"
                                [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </div>
                        <mat-select placeholder="Vehicle Type" (selectionChange)="chooseVehicleType($event)"
                            [value]="oSelected_Search_Category">
                            <mat-option [value]="null">None</mat-option>
                            <mat-option *ngFor="let category of oList_Search_Categories" [value]="category">
                                {{category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto smartr-mat-emphasized-prefix" subscriptSizing="dynamic">
                        <div class="w-full h-full flex items-center justify-center text-secondary" matPrefix>
                            <mat-icon *ngIf="!isSearching" svgIcon="heroicons_outline:hashtag"></mat-icon>
                            <mat-progress-spinner *ngIf="isSearching" matSuffix [diameter]="24"
                                [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </div>
                        <input matInput type="text" placeholder="License Plate Number"
                            [formControl]="licensePlateSearchNumberSearchInput">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-auto">
        <div *ngIf="!isNoLicensePlates && dataSource.data.length!=0" class="w-full" style="height: fit-content;">
            <table mat-table matSort matTableResponsive [dataSource]="dataSource" class="border-t w-full">
                <ng-container matColumnDef="License Plate Image">
                    <th mat-header-cell *matHeaderCellDef class="bg-white w-50"> License Plate Image </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="relative flex image-container">
                            <img *ngIf="element.File" [src]="Sanitize(element.File)" (error)="element.File=null"
                                style="width: 240px !important; max-width: 90%;">
                            <ng-container *ngIf="!element.File">
                                <div class="flex flex-col flex-auto items-center justify-center" *ngIf="element.isVpn">
                                    <mat-icon svgIcon="mat_outline:warning_amber"></mat-icon>
                                    <div>Authorized IP Required</div>
                                </div>
                                <div class="flex flex-col flex-auto items-center justify-center" *ngIf="!element.isVpn">
                                    <mat-icon svgIcon="mat_outline:broken_image"></mat-icon>
                                    <div>Image Unavailable</div>
                                </div>
                            </ng-container>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="License Plate">
                    <th mat-header-cell *matHeaderCellDef class="bg-white w-50">License Plate</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="border-black border font-bold p-2.5 max-w-36 text-center rounded-md"
                            style="border-left: 15px solid black !important">
                            {{element.Characters}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="License Plate Details">
                    <th mat-header-cell *matHeaderCellDef class="bg-white w-50">ZLicense Plate Details</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-col">
                            <div class="flex-row">
                                Confidence: {{element.Confidence}}
                            </div>
                            <div class="flex-row">
                                Type: {{element.Type?element.Type:'-' | titlecase}}
                            </div>
                            <div class="flex-row">
                                Make: {{element.Make?element.Make:'-'}}
                            </div>
                            <div class="flex-row">
                                Model: {{element.Model?element.Model:'-'}}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Time">
                    <th mat-header-cell *matHeaderCellDef class="bg-white w-50"> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.Datetime | date : "medium" :
                        TimezoneService.oCurrent_Timezone_Offset}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer"
                    (click)="row.File?SceneClicked(row):''">
                </tr>
            </table>
        </div>
        <div *ngIf="isSearching && dataSource.data.length==0" class="loader-container">
            <div class="loader"></div>
        </div>
        <div *ngIf="!isSearching && dataSource.data.length==0"
            class="flex flex-auto items-center justify-center p-6 sm:p-10">
            <div class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">
                No License Plates Were Found</div>
        </div>
    </div>
    <div class="relative flex bg-card px-4">
        <mat-paginator class="w-full" style="justify-content: space-between; z-index: 1;"
            [length]="licensePlateDataCount" [pageSize]="pageSize * getNumberOfInstances()" [pageIndex]="pageIndex"
            [showFirstLastButtons]="true" (page)="setPage($event)" aria-label="Select page">
        </mat-paginator>
    </div>
</div>