<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ENABLE_TICKET" value="1" />
        <add key="IS_DEBUG_MODE" value="1" />
        <add key="CACHING_ENABLED" value="0" />
        <add key="ASSETS_LOCATION" value="/data" />
        <add key="BLC_MESSAGES" value="./Messages.xml" />
        <add key="API_GATEWAY_URL" value="http://districtnex-api-gateway" />
    </appSettings>
</configuration>