<ng-container *ngIf="oEntity_Dialog_Input">
    <entity-drawer [oEntity_Dialog_input]="oEntity_Dialog_Input" [isShareView]="true"
        class="absolute right-0 flex flex-auto overflow-hidden z-20 w-full h-full"></entity-drawer>

    <entity-summary-drawer [isShareView]="true"
        style="position: absolute; right: 0; overflow: hidden; z-index: 99; transition: width 400ms;"
        *ngIf="isEntitySummaryDrawerVisible" (closeClickEventEmitter)="isEntitySummaryDrawerVisible = false"
        [oEntity]="oCurrent_Entity" class="bg-white w-[65%] flex flex-col flex-auto h-full"
        [oDimension_index_for_entity]="oDimension_index_for_entity" [isShareView]="true"></entity-summary-drawer>

</ng-container>