<div class="flex items-center my-4">
    <div class="text-3xl font-bold tracking-tight leading-none">Change Password</div>
</div>

<div class="mt-4 mb-4 border-t"></div>

<form [formGroup]="changePasswordForm" class="mt-4">
    <div class="mt-2">
        <mat-form-field [floatLabel]="'always'" class="smartr-mat-no-subscript flex-auto w-full">
            <mat-label>New Password</mat-label>
            <input matInput type="password" [formControlName]="'newPassword'" [placeholder]="'New Password'"
                name="newPassword" autocomplete="off" #newPasswordField>
            <button mat-icon-button type="button" (click)="autoGeneratePassword()"
                matTooltip="Generate Random Password">
                <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:password'"></mat-icon>
            </button>
            <button mat-icon-button type="button"
                (click)="newPasswordField.type === 'password' ? newPasswordField.type = 'text' : newPasswordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="newPasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="newPasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('required')">
                <strong>* </strong>This field is required.
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('minlength')">
                <strong>* </strong>Password must have at least 6 characters
            </mat-error>
        </mat-form-field>
    </div>
    <div class="mt-2">
        <mat-form-field [floatLabel]="'always'" class="smartr-mat-no-subscript flex-auto w-full">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" [formControlName]="'confirmPassword'" name="confirmPassword"
                [placeholder]="'Confirm New Password'" autocomplete="off" #confirmPasswordField>
            <button mat-icon-button type="button"
                (click)="confirmPasswordField.type === 'password' ? confirmPasswordField.type = 'text' : confirmPasswordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('required')">
                <strong>* </strong>This field is required.
            </mat-error>
        </mat-form-field>
    </div>
    <password-strength-meter [password]="changePasswordForm.value.newPassword" [enableFeedback]="true"
        (strengthChange)="passwordStrength = $event">
    </password-strength-meter>
</form>

<div class="mt-4 mb-4 border-t"></div>

<div class="flex items-center justify-end">
    <button class="ml-4" mat-stroked-button type="button" [matDialogClose]="'cancel'">Cancel
    </button>

    <button class="ml-4 w-40" mat-flat-button type="button" (click)="changePassword()"
        [disabled]="changePasswordForm.invalid || loading">
        <span *ngIf="!loading">Change Password</span>
        <mat-progress-spinner *ngIf="loading" [diameter]="24" [mode]="'indeterminate'">
        </mat-progress-spinner>
    </button>
</div>
