<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ENABLE_TICKET" value="1" />
        <add key="IS_DEBUG_MODE" value="1" />
        <add key="CACHING_ENABLED" value="0" />
        <add key="ENABLE_MONITORING" value="0" />
        <add key="BLC_MESSAGES" value="./Messages.xml" />
        <add key="SMTP_EMAIL" value="districtnex-dev-smtp-mail" />
        <add key="ALERTS_TEMPLATE" value="./AlertsTemplate.html" />
        <add key="SMTP_PASSWORD" value="districtnex-dev-smtp-password" />
        <add key="API_GATEWAY_URL" value="http://districtnex-api-gateway" />
        <add key="CONN_STR" value="districtnex-dev-sqlserver-instance-connection-string" />
        <add key="JSON_PATH" value="https://dev.api.picacity.ai/Api/FileManagement/Files/VideoAi/JSON/" />
        <add key="IMAGE_PATH" value="https://dev.api.picacity.ai/Api/FileManagement/Files/VideoAi/Images/" />
    </appSettings>
</configuration>