<div class="flex flex-col flex-auto" [ngClass]="isMyOrganization?'p-6':''">
    <!-- Header -->
    <div class="flex flex-col justify-between">
        <!-- Main actions -->
        <div class="flex flex-wrap items-center -m-1.5">
            <ng-container *ngIf="oList_Chosen_User_Type_Setup">
                <ng-container *ngFor="let chosenUserType of oList_Chosen_User_Type_Setup">
                    <div
                        class="flex items-center justify-center px-3 m-1 rounded-full leading-9 text-gray-500 bg-card dark:text-gray-300 dark:bg-gray-700">
                        <span class="text-md font-medium whitespace-nowrap">{{chosenUserType.VALUE}}</span>
                        <mat-icon class="ml-1 icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:x-circle'"
                            (click)="removeUserTypeChoice(chosenUserType)"></mat-icon>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="flex flex-col sm:flex-row items-center mt-4 gap-4">
            <mat-form-field class="smartr-mat-dense smartr-mat-no-subscript smartr-mat-rounded w-full min-w-50">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput [formControl]="userSearchInput" [autocomplete]="'off'" [placeholder]="'Search Users'">
            </mat-form-field>
            <!-- Add user button -->
            <div class="flex flex-row gap-4 w-full sm:w-auto">
                <button class="w-full sm:w-auto" mat-flat-button (click)="createUser()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add</span>
                </button>
                <!-- Filter users button -->
                <button class="w-full sm:w-auto" mat-flat-button (click)="openTagsPanel()">
                    <mat-icon [svgIcon]="'heroicons_outline:filter'"></mat-icon>
                    <span class="ml-2 mr-1">Filter</span>
                </button>
            </div>
        </div>

        <!-- User Type Filter panel -->
        <ng-template #tagsPanel>
            <div class="w-60 rounded border shadow-md bg-card">
                <!-- Tags panel header -->
                <div class="flex items-center m-3 mr-2" style="min-height: 40px;">
                    <div class="flex items-center w-full">
                        <div class="ml-2">
                            <strong>User Types</strong>
                        </div>
                    </div>
                    <div *ngIf="oList_Chosen_User_Type_Setup!= null && oList_Chosen_User_Type_Setup.length > 0">
                        <button class="ml-1" mat-icon-button (click)="clearUserFilter()">
                            <mat-icon class="icon-size-5" [svgIcon]="'clear_all'" matTooltip="Clear Filters">
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                    <!-- User Type Filter -->
                    <ng-container *ngFor="let userType of oList_User_Type_Setup_List">
                        <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                            (click)="toggleUserTypeChoice(userType)" matRipple>
                            <mat-checkbox class="flex items-center h-10 min-h-10 pointer-events-none"
                                [checked]="oList_Chosen_User_Type_Setup.includes(userType)" [color]="'primary'"
                                [disableRipple]="true">
                            </mat-checkbox>
                            <div class="ml-1">{{userType.VALUE}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-template>
    </div>
    <!-- users list -->
    <div class="relative bg-card dark:bg-transparent -mx-6 mt-2">
        <ng-container *ngIf="!isUserListEmpty; else noUsers">
            <ng-container *ngFor="let user of oList_User_to_display; let i = index;">
                <!-- Group -->
                <ng-container
                    *ngIf="i === 0 || user.FIRST_NAME.charAt(0) !== oList_User_to_display[i - 1].FIRST_NAME.charAt(0)">
                    <div
                        class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                        {{user.FIRST_NAME.charAt(0)}}
                    </div>
                </ng-container>
                <!-- User -->
                <a class="flex flex-row items-center px-6 py-4 md:px-8 cursor-pointer border-b hover:bg-gray-100 dark:hover:bg-hover"
                    (click)="goToUser(user.USER_ID)">
                    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                        <ng-container *ngIf="user.IMAGE_URL">
                            <img class="object-cover w-full h-full" [src]="user.IMAGE_URL" alt="user avatar" />
                        </ng-container>
                        <ng-container *ngIf="!user.IMAGE_URL">
                            <div
                                class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                {{user.FIRST_NAME.charAt(0)}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex flex-row flex-auto items-center"
                        [ngClass]="{'to-be-deleted': !user.IS_ACTIVE || !oOrganization.IS_ACTIVE}">
                        <div class="flex flex-col ml-4">
                            <div class="font-medium leading-5">{{user.FIRST_NAME}} {{user.LAST_NAME}}</div>
                            <div class="leading-5 text-secondary" *ngIf="user.IS_ACTIVE && oOrganization.IS_ACTIVE">
                                {{user.PHONE_NUMBER}}
                            </div>
                            <div class="leading-5 text-secondary" *ngIf="!user.IS_ACTIVE">Scheduled to be
                                deleted on {{getDeleteDate(user) | date}}</div>
                            <div class="leading-5 text-secondary" *ngIf="user.IS_ACTIVE && !oOrganization.IS_ACTIVE">
                                Scheduled to be deleted on {{getOrgDeleteDate() | date}}</div>
                        </div>
                        <mat-icon class="ml-auto" *ngIf="user.IS_ACTIVE && getType(user)=='org admin'"
                            svgIcon="mat_outline:shield"></mat-icon>
                        <mat-icon class="ml-auto text-primary" *ngIf="user.IS_ACTIVE && getType(user)=='super admin'"
                            svgIcon="mat_solid:shield"></mat-icon>
                        <mat-icon class="ml-auto" *ngIf="!user.IS_ACTIVE" svgIcon="mat_outline:auto_delete"></mat-icon>
                    </div>
                </a>
            </ng-container>
        </ng-container>

        <!-- No users -->
        <ng-template #noUsers>
            <div class="flex items-center justify-center p-6 sm:p-10">
                <div class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">
                    No Users</div>
            </div>
        </ng-template>

    </div>

</div>