<div class="flex flex-col flex-auto w-full h-full overflow-hidden">
    <div class="flex flex-row w-full p-2 items-center">
        <button *ngIf="selectedTab && !isShareView" mat-icon-button class="mr-1" (click)="selectedTab=null">
            <mat-icon class="font-semibold" svgIcon="heroicons_outline:arrow-sm-left"></mat-icon>
        </button>
        <label class="text-2xl font-semibold" [ngClass]="{'pl-4': sceneModalData}">Scene Details</label>
        <button *ngIf="!isShareView" class="ml-auto m-2" mat-icon-button (click)="closeClickEventEmitter.emit()">
            <mat-icon [svgIcon]="'heroicons_outline:x'" class="text-iconColor"></mat-icon>
        </button>
    </div>
    <scene-modal class="flex flex-col flex-auto overflow-y-auto p-6 pt-0" [data]="sceneModalData"
        [isFromComponent]="true" [isShareView]="isShareView"></scene-modal>
</div>