:host ::ng-deep .color-picker-form-field .mat-form-field-wrapper .mat-form-field-flex {
    padding: 0;
    border-radius: 0;
}

:host ::ng-deep .mat-slide-toggle-bar {
    background-color: #94a3b8 !important;
}

:host ::ng-deep .mat-slide-toggle-thumb {
    background-color: #fafafa !important;
}

:host ::ng-deep .mat-checkbox-inner-container {
    margin: 0 !important;
}

.platform-background {
    background-color: #e3e6e8;
}

:host ::ng-deep .mat-tab-body {
    height: 100%;
}

:host ::ng-deep .mat-tab-label-container {
    padding: 0 !important;
}

:host ::ng-deep .mat-tab-body-content {
    padding: 0 !important;
    overflow: hidden;
    height: 100%;
}

:host ::ng-deep .mat-tab-body-wrapper {
    flex: 1 1 auto;
    height: 100%;
}

.screen-height {
    height: 14rem !important;
}

.admin-tab-width {
    width: 3rem !important;
}

.admin-tab-circle {
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.admin-window {
    width: 4rem !important;
    height: 4rem !important;
}

.admin-window-button {
    width: 2.5rem !important;
    height: 8px;
}

.site-tab-width {
    width: 1rem !important;
}

.site-tab-tile {
    width: 0.48rem !important;
    height: 0.48rem !important;
}

.site-bottom-bar {
    height: 2.5rem !important;
}

.site-bottom-bar-tile {
    width: 100% !important;
    height: 1.7rem !important;
}

.site-bottom-bar-tile-space {
    margin-left: 0.3rem !important;
}
