:host ::ng-deep .mat-button-toggle {
    border-radius: 0% !important;
}

:host ::ng-deep .mat-button-toggle-group .mat-button-toggle .mat-ripple {
    border-radius: 0px !important;
}

:host ::ng-deep .mat-button-toggle-group .mat-button-toggle {
    margin: 0px;
}