<div class="flex flex-col flex-auto w-full h-full overflow-hidden">
    <div class="flex flex-row w-full p-2" style="align-items: center;">
        <label class="ml-2 text-2xl font-semibold">Energy Insights</label>
        <button *ngIf="!isShareView" class="ml-auto m-2" mat-icon-button (click)="closeClickEventEmitter.emit()"
            matTooltip="Close Drawer">
            <mat-icon [svgIcon]="'heroicons_outline:x'" class="text-iconColor"></mat-icon>
        </button>
    </div>
    <iframe class="flex-auto w-full h-full"
        src="https://emm.picacity.ai/pdt/smartpanels/viewer/telusskyenergyoverview"></iframe>
</div>