.clicked-dimension {
    box-shadow: 0px 0px 8px 0px #676e73;
}

table {
    width: 100%;
    border-collapse: separate;
    border-radius: 2em;
}

.mat-table {
    background-color: transparent !important;
}

:host ::ng-deep mat-form-field {
    .mat-form-field-wrapper {
        margin-bottom: 0px !important;
    }
}

.search-side-button {
    align-items: center;
    margin-bottom: 4px;
}

.mat-row.example-element-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover.example-element-row .mat-cell {
    border-color: currentColor;
}

.w-50p {
    width: 50% !important;
}

:host ::ng-deep .mat-paginator-container {
    justify-content: space-between;
}

tr.example-detail-row {
    height: 0;
}

.mat-row.example-detail-row-bottom-border .mat-cell {
    border-bottom: 1px solid currentColor;
}

.mat-row.example-expanded-row .mat-cell {
    border-top: 1px solid currentColor;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.mat-cell {
    font-size: 12px;
}

:host ::ng-deep .mat-paginator-range-actions {
    margin: 0 !important;
}

:host ::ng-deep .mat-paginator-page-size {
    margin: 0 !important;
}